In [341]:
import pdfplumber
import pandas as pd


def extract_pdf_text(pdf_path):
    # Open the PDF file
    with pdfplumber.open(pdf_path) as pdf:
        # Initialize an empty list to store the extracted data
        data = []
        # Iterate through each page
        for page_num, page in enumerate(pdf.pages):
            # Extract the text with bounding boxes
            for element in page.extract_words():
                text = element['text']
                x0, y0, x1, y1 = element['x0'], element['top'], element['x1'], element['bottom']
                data.append([page_num + 1, text, x0, y0, x1, y1])

        # Convert the list to a DataFrame
        df = pd.DataFrame(data, columns=['page', 'text', 'x0', 'y0', 'x1', 'y1'])
        return df


def find_interval(number, intervals):
    intervals = sorted(intervals)
    for interval in intervals:
        if number >= interval[0] and number < interval[1]:
            return interval
    return None


def assign_intervals_and_values(df, gridlines):
    df["interval"] = df['x0'].apply(lambda x: find_interval(x, list(gridlines.keys())))
    df["value"] = df["interval"].apply(lambda x: gridlines.get(x, None) if x else None)
    return df


def process_consecutive_values(df, target_value):
    processed_rows = []
    current_row = None

    for _, row in df.iterrows():
        if row['value'] == target_value:
            if current_row is None:
                current_row = row.copy()
            else:
                # Concatenate the text field
                current_row['text'] += row['text']
                # Update the bounding box
                current_row['x1'] = max(current_row['x1'], row['x1'])
                current_row['y1'] = max(current_row['y1'], row['y1'])
        else:
            if current_row is not None:
                processed_rows.append(current_row)
                current_row = None
            processed_rows.append(row)

    if current_row is not None:
        processed_rows.append(current_row)

    return pd.DataFrame(processed_rows)

In [342]:
def update_identifier_ranges(df, unique_identifier):
    df_identifier = df[df["value"] == unique_identifier].sort_values(by=["page","y1"]).reset_index(drop=True)
    for index in df_identifier.index:
        if index == 0:
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index, 'y0'] 
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
        elif index == df_identifier.index.max():
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1'] 
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
        else:
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1']
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']

    df_identifier = df_identifier[["page", "text", "identifier_range_y0", "identifier_range_y1"]]
    return df_identifier

In [343]:
def concatenate_values(df):
    new_value_column = []
    new_text_column = []

    # Iterate over the dataframe to concatenate values
    current_value = None
    current_text = ""

    for value, text in zip(df['value'], df['text']):
        if value == current_value:
            current_text += text + " "
        else:
            if current_value is not None:
                new_value_column.append(current_value)
                new_text_column.append(current_text.strip())
            current_value = value
            current_text = text + " "  # Added space at the end of each text

    # Append the last accumulated values
    if current_value is not None:
        new_value_column.append(current_value)
        new_text_column.append(current_text.strip())

    # Create a new DataFrame with the concatenated values
    new_df = pd.DataFrame({
        'value': new_value_column,
        'text': new_text_column
    })
    return new_df

def transform_df(new_df, unique_identifier):
    new_df[unique_identifier] = new_df.apply(lambda x: x.text if x.value == unique_identifier else None, axis=1).ffill()
    new_df = new_df.pivot_table(index=unique_identifier, columns='value', values='text', aggfunc='first')
    return new_df

In [344]:
council = "Rother"
config = {
    "Bedford": {
        "gridlines": {
            (52, 121): "plate",
            (121, 220): "vrm",
            (220, 312): "make",
            (312, 418): "model",
            (418, 482): "licence_start",
            (482, 538): "licence_end"
        },
        "unique_identifier": "plate"
    },
    "BCP": {
        "gridlines": {
            (42, 76): "reference_number",
            (76, 212): "name",
            (212, 268): "vrm",
            (268, 311): "licence_number",
            (311, 364): "licence_start",
            (364, 412): "licence_end",
            (412, 528): "make",
            (528, 590): "licence_type",
        },
        "unique_identifier": "reference_number"
    },
    "Cheshire West": {
        "gridlines": {
            (52, 160): "make",
            (160, 478): "model",
            (478, 540): "vrm"
        },
        "unique_identifier": "vrm"
    },
    "East Northamptonshire": {
        "gridlines": {
            (55, 130): "vrm",
            (160, 240): "make",
            (240, 540): "model"
        },
        "unique_identifier": "vrm"
    },
    "Fylde": {
        "gridlines": {
            (18, 87): "vrm",
            (87, 216): "make",
            (216, 340): "model",
            (340, 460): "licence_start",
            (460, 540): "licence_end"
        },
        "unique_identifier": "vrm"
    },
    "Great Yarmouth": {
        "gridlines": {
            (52, 160): "vrm",
            (160, 238): "make",
            (238, 540): "model",
        },
        "unique_identifier": "vrm"
    },
    "Horsham": {
        "gridlines": {
            (52, 103): "reference_number",
            (103, 152): "licence_type",
            (152, 218): "name",
            (218, 266): "vrm",
            (266, 320): "make",
            (320, 386): "model",
            (386, 446): "licence_start",
            (446, 484): "licence_end",
            (484, 540): "plate",
        },
        "unique_identifier": "vrm"
    },
    "Kettering": {
        "gridlines": {
            (55, 102): "vrm",
            (148, 214): "make",
            (214, 540): "model"
        },
        "unique_identifier": "vrm"
    },
    "Maldon": {
        "gridlines": {
            (35, 142): "plate",
            (142, 258): "vrm",
            (258, 312): "make",
            (312, 445): "model",
            (445, 576): "colour",
            (576, 648): "seats",
            (648, 736): "licence_start",
            (736, 800): "licence_end",
        },
        "unique_identifier": "vrm"
    },
    "Milton Keynes": {
        "gridlines": {
            (256, 288): "plate",
            (288, 336): "vrm",
            (336, 406): "make",
            (406, 488): "model",
            (488, 742): "name",
            (742, 800): "licence_end"
        },
        "unique_identifier": "plate"
    },
    "North Lanarkshire": {
        "gridlines": {
            (52, 140): "vrm",
            (140, 210): "make",
            (210, 360): "model",
        },
        "unique_identifier": "vrm"
    },
    "Powys": {
        "gridlines": {
            (3, 38): "plate",
            (98, 222): "vrm",
            (222, 312): "make",
            (312, 404): "model",
            (404, 482): "licence_start",
        },
        "unique_identifier": "plate"
    },
    "Swansea": {
        "gridlines": {
            (52, 130): "vrm",
            (130, 240): "make"
        },
        "unique_identifier": "vrm"
    },
    "Wealden": {
        "gridlines": {
            (56, 98): "plate",
            (98, 136): "vrm",
            (136, 206): "make",
            (206, 272): "model",
            (272, 315): "colour",
            (315, 404): "name",
            (450, 488): "licence_start",
            (496, 540): "licence_end",
        },
        "unique_identifier": "vrm"
    },
    "West Lothian": {
        "gridlines": {
            (52, 184): "licence_type",
            (184, 295): "vrm",
            (295, 372): "make",
            (372, 440): "model",
        },
        "unique_identifier": "vrm"
    },
    "West Morland Barrow": {
        "gridlines": {
            (55, 118): "vrm",
            (118, 200): "make",
            (200, 300): "model",
        },
        "unique_identifier": "vrm"
    },
    "Argyll and Bute": {
        "gridlines": {
            (52, 158): "vrm",
            (158, 245): "make",
            (245, 400): "model",
        },
        "unique_identifier": "vrm"
    },
    "East Lothian": {
        "gridlines": {
            (77, 170): "vrm",
            (220, 312): "make",
            (312, 418): "model",
        },
        "unique_identifier": "vrm"
    },
    "Renfrewshire": {
        "gridlines": {
            (52, 138): "reference_number",
            (138, 248): "vrm",
            (248, 440): "make",
        },
        "unique_identifier": "vrm"
    },
    "Salford": {
        "gridlines": {
            (28, 78): "reference_number",
            (78, 136): "licence_type",
            (136, 198): "licence_start",
            (198, 250): "licence_end",
            (286, 392): "make",
            (392, 450): "vrm",
        },
        "unique_identifier": "reference_number"
    },
    "Corby": {
        "gridlines": {
            (248, 312): "plate",
            (312, 390): "licence_start",
            (390, 460): "vrm",
            (460, 538): "make",
            (538, 600): "model",
        },
        "unique_identifier": "plate"
    },
    "Cornwall": {
        "gridlines": {
            (28, 121): "reference_number",
            (208, 318): "vrm",
            (318, 416): "make",
            (416, 570): "model",
            (618, 700): "licence_end",
        },
        "unique_identifier": "reference_number"
    },
    "Derby": {
        "gridlines": {
            (32, 88): "plate",
            (88, 320): "name",
            (320, 416): "vrm",
            (416, 540): "make",
        },
        "unique_identifier": "plate"
    },
    "East Dunbarton": {
        "gridlines": {
            (76, 150): "vrm",
            (150, 240): "make",
            (240, 400): "model",
        },
        "unique_identifier": "vrm"
    },
    "Eastleigh": {
        "gridlines": {
            (56, 196): "vrm",
            (196, 276): "make",
            (276, 400): "model",
        },
        "unique_identifier": "vrm"
    },
    "Anglesey": {
        "gridlines": {
            (52, 121): "licence_type",
            (121, 220): "vrm",
            (220, 312): "make",
            (312, 418): "model",
        },
        "unique_identifier": "vrm"
    },
    "Perth Kinross": {
        "gridlines": {
            (76, 196): "vrm",
            (196, 286): "make",
            (286, 400): "model",
        },
        "unique_identifier": "vrm"
    },
    "Rother": {
        "gridlines": {
            (50, 96): "plate",
            (96, 148): "vrm",
            (148, 212): "make",
            (212, 268): "model",
            (456, 499): "licence_start",
            (499, 560): "licence_end",
        },
        "unique_identifier": "plate"
    }
}

gridlines = config[council]["gridlines"]
unique_identifier = config[council]["unique_identifier"]

pdf_path = f'pdfs/tabular/{council}.pdf'
df = extract_pdf_text(pdf_path)

In [345]:
df.head(50)

    page          text          x0         y0          x1         y1
0      1          This  137.842200   64.27200  155.782152   73.75200
1      1      document  158.482056   64.27200  200.118216   73.75200
2      1         lists  202.762188   64.27200  219.262128   73.75200
3      1           all  221.962032   64.27200  231.507444   73.75200
4      1    wheelchair  234.202608   64.27200  279.720828   73.75200
5      1    accessible  282.324036   64.27200  326.955876   73.75200
6      1       Hackney  329.605536   64.27200  366.625884   73.75200
7      1      Carriage  369.206340   64.27200  405.558348   73.75200
8      1           and  408.207060   64.27200  424.038660   73.75200
9      1       Private  426.688320   64.27200  456.199560   73.75200
10     1          Hire  143.245800   75.91344  160.636860   85.39344
11     1      Vehicles  163.286520   75.91344  199.347492   85.39344
12     1     currently  202.047396   75.91344  238.467660   85.39344
13     1      licensed  241.048116   75.91344  276.079560   85.39344
14     1            by  278.729220   75.91344  288.749580   85.39344
15     1        Rother  291.329088   75.91344  319.806060   85.39344
16     1      District  322.409268   75.91344  351.564060   85.39344
17     1      Council.  354.208980   75.91344  388.645080   85.39344
18     1           Our  391.289052   75.91344  407.046708   85.39344
19     1      register  409.649916   75.91344  441.368100   85.39344
20     1            is  443.971308   75.91344  450.870852   85.39344
21     1    designated  141.444600   87.55488  187.998036   97.03488
22     1           for  190.647696   87.55488  201.844524   97.03488
23     1           the  204.447732   87.55488  217.638204   97.03488
24     1      purposes  220.287864   87.55488  259.349256   97.03488
25     1            of  262.049160   87.55488  269.964960   97.03488
26     1       section  272.729328   87.55488  302.960100   97.03488
27     1           165  305.609760   87.55488  321.441360   97.03488
28     1            of  324.091020   87.55488  332.006820   97.03488
29     1           the  334.771188   87.55488  347.961660   97.03488
30     1      Equality  350.610372   87.55488  384.510852   97.03488
31     1           Act  387.091308   87.55488  400.886604   97.03488
32     1          2010  403.530576   87.55488  424.642536   97.03488
33     1           and  427.292196   87.55488  443.123796   97.03488
34     1            is  445.773456   87.55488  452.673000   97.03488
35     1       updated  260.721960   99.19632  295.034820  108.67632
36     1      monthly.  297.684480   99.19632  333.440196  108.67632
37     1       Hackney   52.522200  123.79356   83.478132  131.35356
38     1      Carriage   85.517064  123.79356  116.237124  131.35356
39     1       Vehicle  118.396260  123.79356  144.915984  131.35356
40     1         Plate   52.522200  141.19366   70.645788  148.75366
41     1        Number   52.522200  150.79366   80.897904  158.35366
42     1  Registration   96.322200  151.15356  140.415900  158.71356
43     1          Make  170.962080  151.15356  189.921804  158.71356
44     1         Model  230.005680  151.15356  251.785284  158.71356
45     1        Colour  270.565080  151.15356  294.739692  158.71356
46     1       Licence  305.605680  151.15356  333.685788  158.71356
47     1        Holder  335.844924  151.15356  359.660436  158.71356
48     1         Issue  406.887000  151.15356  426.210360  158.71356
49     1          Date  428.369496  151.15356  444.693048  158.71356

In [346]:
df[100:150]

     page        text          x0         y0          x1         y1
100     1        Date  428.365716  278.59356  444.689268  286.15356
101     1       Start  456.087480  278.59356  473.368128  286.15356
102     1        Date  475.530288  278.59356  491.854596  286.15356
103     1      Expiry  499.285320  278.59356  522.446892  286.15356
104     1        Date  524.485824  278.59356  540.807108  286.15356
105     1       PH001   52.527120  299.45160   75.566976  307.01160
106     1        YS62   96.329760  299.45160  114.821520  307.01160
107     1         YWA  116.979900  299.45160  134.505492  307.01160
108     1        FORD  149.491680  299.45160  170.785932  307.01160
109     1     TRANSIT  213.570240  299.45160  245.783400  307.01160
110     1       WHITE  270.572640  299.45160  295.171368  307.01160
111     1       James  305.613240  299.45160  327.993864  307.01160
112     1    Blatcher  330.215748  299.45160  358.053936  307.01160
113     1  03/08/2023  411.332280  299.45160  449.248704  307.01160
114     1  02/09/2023  456.813240  299.45160  494.725884  307.01160
115     1  01/09/2024  503.375280  299.45160  541.287924  307.01160
116     1       PH005   52.534680  320.69520   75.574536  328.25520
117     1        HN62   96.337320  320.69520  115.535940  328.25520
118     1         FKV  117.695076  320.69520  132.336528  328.25520
119     1        FORD  149.499240  320.69520  170.793492  328.25520
120     1     TRANSIT  213.577800  320.69520  245.790960  328.25520
121     1       WHITE  270.580200  320.69520  295.178928  328.25520
122     1       James  305.620800  320.69520  328.001424  328.25520
123     1    Blatcher  330.223308  320.69520  358.061496  328.25520
124     1  29/08/2023  411.339840  320.69520  449.256264  328.25520
125     1  02/09/2023  456.820800  320.69520  494.733444  328.25520
126     1  01/09/2024  503.382840  320.69520  541.295484  328.25520
127     1       PH015   52.542240  341.93880   75.582096  349.49880
128     1        SD17   96.344880  341.93880  115.186668  349.49880
129     1         OHC  117.345804  341.93880  134.082132  349.49880
130     1     PEUGEOT  149.506800  341.93880  186.416988  349.49880
131     1        EURO  213.585360  341.93880  235.302972  349.49880
132     1        GREY  270.587760  341.93880  291.954588  349.49880
133     1        John  305.628360  341.93880  322.072116  349.49880
134     1     Harding  324.226716  341.93880  350.630772  349.49880
135     1  01/06/2023  411.347400  341.93880  449.263824  349.49880
136     1  15/06/2023  456.828360  341.93880  494.741004  349.49880
137     1  14/06/2024  503.390400  341.93880  541.303044  349.49880
138     1       PH025   52.549800  363.18240   75.589656  370.74240
139     1        PN09   96.352440  363.18240  115.194228  370.74240
140     1         KFL  117.353364  363.18240  131.155656  370.74240
141     1     RENAULT  149.514360  363.18240  184.606368  370.74240
142     1      MASTER  213.592920  363.18240  245.099220  370.74240
143     1      SILVER  270.595320  363.18240  297.540672  370.74240
144     1       James  305.635920  363.18240  328.016544  370.74240
145     1    Blatcher  330.238428  363.18240  358.076616  370.74240
146     1  06/12/2023  411.354960  363.18240  449.267604  370.74240
147     1  21/12/2023  456.835920  363.18240  494.752344  370.74240
148     1  20/12/2024  503.397960  363.18240  541.314384  370.74240
149     1       PH026   52.557360  384.42600   75.597216  391.98600

In [347]:
df = assign_intervals_and_values(df, gridlines)
df = process_consecutive_values(df, target_value=unique_identifier)
df_identifier = update_identifier_ranges(df, unique_identifier)
df_reduced = df[["text", "value"]].reset_index(drop=True)
new_df = concatenate_values(df_reduced)
new_df = transform_df(new_df, unique_identifier)

In [348]:
new_df

value,licence_end,licence_start,make,model,plate,vrm
plate,,,,,,
HC008,13/03/2024,NaN,VOLKSWAGEN,Caddy Maxi LifeBLACK,HC008,VX17 FXL
HC109,01/06/2024,NaN,VOLKSWAGEN,CADDY,HC109,HJ64 KUN
HC116,14/07/2024,NaN,VOLKSWAGEN,CADDY,HC116,RV64 AED
HackneyCarriage,NaN,NaN,NaN,NaN,HackneyCarriage,Vehicle
PH001,01/09/2024,02/09/2023,FORD,TRANSIT,PH001,YS62 YWA
PH005,01/09/2024,02/09/2023,FORD,TRANSIT,PH005,HN62 FKV
PH015,14/06/2024,15/06/2023,PEUGEOT,EURO,PH015,SD17 OHC
PH025,20/12/2024,21/12/2023,RENAULT,MASTER,PH025,PN09 KFL
PH026,06/08/2024,07/08/2023,FORD,TRANSIT,PH026,SB56 UHX
PH034,31/08/2024,01/09/2023,VAUXHALL,MOVANO,PH034,GY04 UFD
PH036,31/08/2024,01/09/2023,FORD,TRANSIT,PH036,AD09 TTX
PH048,23/03/2024,24/03/2023,VOLKSWAGEN,Crafter,PH048,SF19 SVJ
PH120,06/02/2025,07/02/2024,FORD,TRANSIT,PH120,LW08 MDN
PlateNumber,Expiry Date,Start Date,Make,Model,PlateNumber,Registration
PrivateHire,NaN,NaN,NaN,NaN,PrivateHire,Vehicle
Updated,NaN,NaN,NaN,NaN,Updated,05/03/2024

In [349]:
new_df.to_csv('inspection.csv')