In [51]:
import pdfplumber
import pandas as pd

# Path to the PDF file
pdf_path = 'pdfs/Bedford.pdf'

# Open the PDF file
with pdfplumber.open(pdf_path) as pdf:
    # Initialize an empty list to store the extracted data
    data = []
    # Iterate through each page
    for page_num, page in enumerate(pdf.pages):
        # Extract the text with bounding boxes
        for element in page.extract_words():
            text = element['text']
            x0, y0, x1, y1 = element['x0'], element['top'], element['x1'], element['bottom']
            data.append([page_num + 1, text, x0, y0, x1, y1])

    # Convert the list to a DataFrame
    df = pd.DataFrame(data, columns=['page', 'text', 'x0', 'y0', 'x1', 'y1'])
    # Save the DataFrame to a CSV file
    df.to_csv('extracted_text.csv', index=False)

In [52]:
def find_interval(number, intervals):
    intervals = sorted(intervals)
    for interval in intervals:
        if number >= interval[0] and number < interval[1]:
            return interval
    return None


gridlines = {"Bedford":{
    (52, 121): "plate",
    (121, 220): "vrm",
    (220, 312): "make",
    (312, 419): "model",
    (419, 482): "license_start",
    (482, 538): "license_end"
}
}

council = "Bedford"
first_value = "PHV3429"
unique_identifier = "plate"

df["interval"] = df['x0'].apply(lambda x: find_interval(x, list(gridlines[council].keys())))
df["value"] = df["interval"].apply(lambda x: gridlines[council].get(x, None) if x else None)

In [53]:
df

,page,text,x0,y0,x1,y1,interval,value
0,1,Public,52.919998,56.689079,86.102200,67.729529,"(52, 121)",plate
1,1,Register,89.103348,56.689079,133.287315,67.729529,"(52, 121)",plate
2,1,of,136.490814,56.689079,146.791554,67.729529,"(121, 220)",vrm
3,1,Vehicles,149.936228,56.689079,194.737856,67.729529,"(121, 220)",vrm
4,1,Licensed,197.806929,56.689079,245.622859,67.729529,"(121, 220)",vrm
...,...,...,...,...,...,...,...,...
4434,12,ATV,150.793156,774.169055,172.355069,785.209505,"(121, 220)",vrm
4435,12,Peugeot,220.535593,774.169055,261.607663,785.209505,"(220, 312)",make
4436,12,Horizon,312.316449,774.169055,350.188902,785.209505,"(312, 419)",model
4437,12,10/02/2024,419.015067,774.169055,474.269544,785.209505,"(419, 482)",license_start
4438,12,09/02/2025,482.594043,774.169055,537.848519,785.209505,"(482, 538)",license_end

In [54]:
df = df[24:]

Concatenate the Identifier value first (in this case plate)

In [55]:
def process_consecutive_values(df, target_value):
    processed_rows = []
    current_row = None

    for _, row in df.iterrows():
        if row['value'] == target_value:
            if current_row is None:
                current_row = row.copy()
            else:
                # Concatenate the text field
                current_row['text'] += row['text']
                # Update the bounding box
                current_row['x1'] = max(current_row['x1'], row['x1'])
                current_row['y1'] = max(current_row['y1'], row['y1'])
        else:
            if current_row is not None:
                processed_rows.append(current_row)
                current_row = None
            processed_rows.append(row)

    if current_row is not None:
        processed_rows.append(current_row)

    return pd.DataFrame(processed_rows)

df = process_consecutive_values(df, target_value='plate')

In [56]:
df.tail(50)

,page,text,x0,y0,x1,y1,interval,value
4388,12,20/12/2024,482.651186,677.569064,537.836228,688.609514,"(482, 538)",license_end
4389,12,TXV40,52.919998,691.369082,86.771528,702.409532,"(52, 121)",plate
4390,12,LD09,121.482702,691.369082,147.738747,702.409532,"(121, 220)",vrm
4391,12,YLR,150.874235,691.369082,172.204384,702.409532,"(121, 220)",vrm
4392,12,Mercedes,220.539474,691.369082,268.811686,702.409532,"(220, 312)",make
4393,12,Vito,312.311059,691.369082,331.333668,702.409532,"(312, 419)",model
4394,12,22/12/2023,419.039002,691.369082,474.222535,702.409532,"(419, 482)",license_start
4395,12,21/12/2024,482.657439,691.369082,537.842482,702.409532,"(482, 538)",license_end
4396,12,TXV2,52.919998,705.169101,80.631356,716.209551,"(52, 121)",plate
4397,12,B166,121.414778,705.169101,147.129582,716.209551,"(121, 220)",vrm
4398,12,RAM,150.198654,705.169101,174.655105,716.209551,"(121, 220)",vrm
4399,12,Mercedes-Benz,220.550256,705.169101,297.595562,716.209551,"(220, 312)",make
4400,12,Vito,312.389765,705.169101,331.335177,716.209551,"(312, 419)",model
4401,12,29/12/2023,419.040512,705.169101,474.224045,716.209551,"(419, 482)",license_start
4402,12,28/12/2024,482.658949,705.169101,537.845501,716.209551,"(482, 538)",license_end
4403,12,TXV47,52.919998,718.969073,86.771528,730.009523,"(52, 121)",plate
4404,12,SF15,121.482702,718.969073,147.724084,730.009523,"(121, 220)",vrm
4405,12,DWX,150.793156,718.969073,177.049201,730.009523,"(121, 220)",vrm
4406,12,Peugeot,220.592736,718.969073,261.655533,730.009523,"(220, 312)",make
4407,12,Horizon,312.364320,718.969073,350.170357,730.009523,"(312, 419)",model
4408,12,29/12/2023,418.996523,718.969073,474.250999,730.009523,"(312, 419)",model
4409,12,28/12/2024,482.685903,718.969073,537.870945,730.009523,"(482, 538)",license_end
4410,12,TXV60,52.919998,732.769092,86.771528,743.809542,"(52, 121)",plate
4411,12,NK60,121.482702,732.769092,148.896054,743.809542,"(121, 220)",vrm
4412,12,CWV,151.965126,732.769092,178.221171,743.809542,"(121, 220)",vrm
4413,12,Volkswagen,220.550256,732.769092,279.953095,743.809542,"(220, 312)",make
4414,12,Caddy,312.345776,732.769092,344.123727,743.809542,"(312, 419)",model
4415,12,18/01/2024,419.088383,732.769092,474.273425,743.809542,"(419, 482)",license_start
4416,12,17/01/2025,482.597924,732.769092,537.852401,743.809542,"(482, 538)",license_end
4417,12,TXV5,52.919998,746.569064,83.833086,757.609514,"(52, 121)",plate
4419,12,DP69,121.414778,746.569064,148.885272,757.609514,"(121, 220)",vrm
4420,12,EMF,152.088684,746.569064,175.052820,757.609514,"(121, 220)",vrm
4421,12,Volkswagen,220.539474,746.569064,279.951586,757.609514,"(220, 312)",make
4422,12,Caddy,312.344266,746.569064,344.122218,757.609514,"(312, 419)",model
4423,12,05/02/2024,419.086873,746.569064,474.271916,757.609514,"(419, 482)",license_start
4424,12,04/02/2025,482.596415,746.569064,537.850891,757.609514,"(482, 538)",license_end
4425,12,TXV34,52.919998,760.369037,86.771528,771.409487,"(52, 121)",plate
4426,12,YN59,121.482702,760.369037,148.953197,771.409487,"(121, 220)",vrm
4427,12,CPY,152.088684,760.369037,174.644237,771.409487,"(121, 220)",vrm
4428,12,Volkswagen,220.616671,760.369037,279.951586,771.409487,"(220, 312)",make
4429,12,Caddy,312.344266,760.369037,344.122218,771.409487,"(312, 419)",model
4430,12,07/02/2024,419.086873,760.369037,474.271916,771.409487,"(419, 482)",license_start
4431,12,06/02/2025,482.596415,760.369037,537.850891,771.409487,"(482, 538)",license_end
4432,12,TXV49,52.919998,774.169055,86.771528,785.209505,"(52, 121)",plate
4433,12,SF12,121.482702,774.169055,147.724084,785.209505,"(121, 220)",vrm
4434,12,ATV,150.793156,774.169055,172.355069,785.209505,"(121, 220)",vrm
4435,12,Peugeot,220.535593,774.169055,261.607663,785.209505,"(220, 312)",make
4436,12,Horizon,312.316449,774.169055,350.188902,785.209505,"(312, 419)",model
4437,12,10/02/2024,419.015067,774.169055,474.269544,785.209505,"(419, 482)",license_start
4438,12,09/02/2025,482.594043,774.169055,537.848519,785.209505,"(482, 538)",license_end

In [57]:
df.to_csv("test.csv", index=False)

In [58]:
unique_identifier = "plate"

In [59]:
df_identifier = df[df["value"] == unique_identifier].sort_values(by=["page","y1"]).reset_index(drop=True)

In [60]:
for index in df_identifier.index:
    if index == 0:
        df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index, 'y0'] 
        df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
    elif index == df_identifier.index.max():
        df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1'] 
        df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
    else:
        df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1']
        df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']

In [61]:
df_identifier = df_identifier[["page", "text", "identifier_range_y0", "identifier_range_y1"]]

In [62]:
df_identifier.to_csv("df_identifier.csv", index=False)

In [63]:
df_identifier

     page     text  identifier_range_y0  identifier_range_y1
0       1  PHV3429           114.649078           125.689528
1       1  PHV3420           125.689528           139.489535
2       1  PHV3541           139.489535           153.289530
3       1  PHV3722           153.289530           167.089526
4       1  PHV3720           167.089526           180.889532
..    ...      ...                  ...                  ...
621    12    TXV47           716.209551           730.009523
622    12    TXV60           730.009523           743.809542
623    12     TXV5           743.809542           757.609514
624    12    TXV34           757.609514           771.409487
625    12    TXV49           771.409487           785.209505

[626 rows x 4 columns]

In [ ]:
df.head(50)

,page,text,x0,y0,x1,y1,interval,value
24,1,PHV3429,52.919998,114.649078,99.957534,125.689528,"(52, 121)",plate
25,1,SF64,121.420169,114.649078,147.729475,125.689528,"(121, 220)",vrm
26,1,FVE,150.798547,114.649078,172.182131,125.689528,"(121, 220)",vrm
27,1,Peugeot,220.583464,114.649078,261.646261,125.689528,"(220, 312)",make
28,1,Independence,312.355048,114.649078,382.206854,125.689528,"(312, 419)",model
29,1,20/02/2023,419.083639,114.649078,474.270191,125.689528,"(419, 482)",license_start
30,1,19/02/2024,482.594690,114.649078,537.849166,125.689528,"(482, 538)",license_end
31,1,PHV3420,52.919998,128.449085,99.957534,139.489535,"(52, 121)",plate
32,1,VU15,121.420169,128.449085,148.890663,139.489535,"(121, 220)",vrm
33,1,JJL,152.094075,128.449085,169.273015,139.489535,"(121, 220)",vrm
34,1,Vauxhall,220.544865,128.449085,262.637961,139.489535,"(220, 312)",make
35,1,Insignia,312.408309,128.449085,350.460600,139.489535,"(312, 419)",model
36,1,21/02/2023,419.065957,128.449085,474.252509,139.489535,"(419, 482)",license_start
37,1,20/02/2024,482.687412,128.449085,537.872455,139.489535,"(482, 538)",license_end
38,1,PHV3541,52.919998,142.249080,99.957534,153.289530,"(52, 121)",plate
39,1,FM67,121.420169,142.249080,149.385542,153.289530,"(121, 220)",vrm
40,1,FMZ,152.454615,142.249080,174.986405,153.289530,"(121, 220)",vrm
41,1,Toyota,220.583464,142.249080,254.256664,153.289530,"(220, 312)",make
42,1,Auris,312.373592,142.249080,337.392934,153.289530,"(312, 419)",model
43,1,21/02/2023,419.092264,142.249080,474.209382,153.289530,"(419, 482)",license_start
44,1,20/02/2024,482.644286,142.249080,537.827819,153.289530,"(482, 538)",license_end
45,1,PHV3722,52.919998,156.049076,99.957534,167.089526,"(52, 121)",plate
46,1,BX17,121.420169,156.049076,148.425109,167.089526,"(121, 220)",vrm
47,1,LWK,151.494182,156.049076,175.917339,167.089526,"(121, 220)",vrm
48,1,Skoda,220.564919,156.049076,251.901080,167.089526,"(220, 312)",make
49,1,Fabia,312.336503,156.049076,339.884194,167.089526,"(312, 419)",model
50,1,21/02/2023,419.088383,156.049076,474.273425,167.089526,"(419, 482)",license_start
51,1,20/02/2024,482.597924,156.049076,537.852401,167.089526,"(482, 538)",license_end
52,1,PHV3720,52.919998,169.849082,99.957534,180.889532,"(52, 121)",plate
53,1,BX17,121.420169,169.849082,148.425109,180.889532,"(121, 220)",vrm
54,1,LWJ,151.494182,169.849082,174.084625,180.889532,"(121, 220)",vrm
55,1,Skoda,220.564919,169.849082,251.901080,180.889532,"(220, 312)",make
56,1,Fabia,312.336503,169.849082,339.884194,180.889532,"(312, 419)",model
57,1,22/02/2023,419.088383,169.849082,474.273425,180.889532,"(419, 482)",license_start
58,1,21/02/2024,482.597924,169.849082,537.852401,180.889532,"(482, 538)",license_end
59,1,PHV2904,52.919998,183.649089,99.957534,194.689539,"(52, 121)",plate
60,1,LP15,121.420169,183.649089,147.125700,194.689539,"(121, 220)",vrm
61,1,DWF,150.194773,183.649089,175.832552,194.689539,"(121, 220)",vrm
62,1,Peugeot,220.546375,183.649089,261.609172,194.689539,"(220, 312)",make
63,1,Expert,312.317959,183.649089,344.116051,194.689539,"(312, 419)",model
64,1,23/02/2023,419.003423,183.649089,474.257899,194.689539,"(419, 482)",license_start
65,1,22/02/2024,482.692803,183.649089,537.809921,194.689539,"(482, 538)",license_end
66,1,PHV2625,52.919998,197.449085,99.957534,208.489535,"(52, 121)",plate
67,1,KW66,121.420169,197.449085,151.915573,208.489535,"(121, 220)",vrm
68,1,CTK,154.984646,197.449085,177.155724,208.489535,"(121, 220)",vrm
69,1,Toyota,220.588854,197.449085,254.328470,208.489535,"(220, 312)",make
70,1,Prius,312.334994,197.449085,337.431532,208.489535,"(312, 419)",model
71,1,24/02/2023,419.020458,197.449085,474.273425,208.489535,"(419, 482)",license_start
72,1,23/02/2024,482.597924,197.449085,537.852401,208.489535,"(482, 538)",license_end
73,1,PHV3431,52.919998,211.249080,99.957534,222.289530,"(52, 121)",plate

In [66]:
df['plate'] = df.apply(lambda row: df_identifier[(df_identifier['identifier_range_y0'] <= row['y0']) & (df_identifier['identifier_range_y1'] >= row['y1']) & (df_identifier['page'] == row['page'])]['text'].iloc[0] if not df_identifier[(df_identifier['identifier_range_y0'] <= row['y0']) & (df_identifier['identifier_range_y1'] >= row['y1']) & (df_identifier['page'] == row['page'])].empty else None, axis=1)

In [71]:
df[-200:-150]

,page,text,x0,y0,x1,y1,interval,value,plate
4238,12,EYK,150.793156,387.769092,172.796687,398.809542,"(121, 220)",vrm,TXV32
4239,12,Peugeot,220.535593,387.769092,261.607663,398.809542,"(220, 312)",make,TXV32
4240,12,Partner,312.316449,387.769092,348.530549,398.809542,"(312, 419)",model,TXV32
4241,12,13/10/2023,419.045903,387.769092,474.230945,398.809542,"(419, 482)",license_start,TXV32
4242,12,12/10/2024,482.665849,387.769092,537.852401,398.809542,"(482, 538)",license_end,TXV32
4243,12,TXV31,52.919998,401.569064,86.771528,412.609514,"(52, 121)",plate,TXV31
4244,12,SF15,121.482702,401.569064,147.724084,412.609514,"(121, 220)",vrm,TXV31
4245,12,FOM,150.793156,401.569064,175.321414,412.609514,"(121, 220)",vrm,TXV31
4246,12,Peugeot,220.554137,401.569064,261.616935,412.609514,"(220, 312)",make,TXV31
4247,12,Premier,312.325722,401.569064,350.991146,412.609514,"(312, 419)",model,TXV31
4248,12,RX,354.058623,401.569064,369.384622,412.609514,"(312, 419)",model,TXV31
4249,12,16/10/2023,419.000404,401.569064,474.254881,412.609514,"(419, 482)",license_start,TXV31
4250,12,15/10/2024,482.689784,401.569064,537.874827,412.609514,"(482, 538)",license_end,TXV31
4251,12,TX,312.360008,415.489063,326.558027,426.529513,"(312, 419)",model,TXV29
4252,12,Vista,329.770712,415.489063,354.236349,426.529513,"(312, 419)",model,TXV29
4253,12,Comfort,357.305421,415.489063,396.778567,426.529513,"(312, 419)",model,TXV29
4254,12,TXV29,52.919998,422.329059,86.771528,433.369509,"(52, 121)",plate,TXV29
4255,12,LS70,121.482702,422.329059,147.120309,433.369509,"(121, 220)",vrm,TXV29
4256,12,GKE,150.189382,422.329059,173.550974,433.369509,"(121, 220)",vrm,TXV29
4257,12,Levc,220.517048,422.329059,243.727438,433.369509,"(220, 312)",make,TXV29
4258,12,18/10/2023,419.039978,422.329059,474.223511,433.369509,"(419, 482)",license_start,TXV29
4259,12,17/10/2024,482.658415,422.329059,537.844967,433.369509,"(482, 538)",license_end,TXV29
4260,12,Plus,312.360008,429.169101,333.692012,440.209551,"(312, 419)",model,None
4261,12,TXV4,52.919998,442.969073,80.631356,454.009523,"(52, 121)",plate,TXV4
4262,12,SF12,121.414778,442.969073,147.733356,454.009523,"(121, 220)",vrm,TXV4
4263,12,LXN,150.868844,442.969073,172.419802,454.009523,"(121, 220)",vrm,TXV4
4264,12,Peugeot,220.534083,442.969073,261.606153,454.009523,"(220, 312)",make,TXV4
4265,12,Partner,312.314940,442.969073,348.529039,454.009523,"(312, 419)",model,TXV4
4266,12,21/10/2023,419.044393,442.969073,474.227926,454.009523,"(419, 482)",license_start,TXV4
4267,12,20/10/2024,482.662830,442.969073,537.849382,454.009523,"(482, 538)",license_end,TXV4
4268,12,TXV14,52.919998,456.769092,86.771528,467.809542,"(52, 121)",plate,TXV14
4269,12,SF61,121.482702,456.769092,147.724084,467.809542,"(121, 220)",vrm,TXV14
4270,12,KKD,150.793156,456.769092,173.414952,467.809542,"(121, 220)",vrm,TXV14
4271,12,Peugeot,220.535593,456.769092,261.607663,467.809542,"(220, 312)",make,TXV14
4272,12,Horizon,312.316449,456.769092,350.188902,467.809542,"(312, 419)",model,TXV14
4273,12,23/10/2023,419.015067,456.769092,474.269544,467.809542,"(419, 482)",license_start,TXV14
4274,12,22/10/2024,482.594043,456.769092,537.848519,467.809542,"(482, 538)",license_end,TXV14
4275,12,TXV33,52.919998,470.569064,86.771528,481.609514,"(52, 121)",plate,TXV33
4276,12,SH03,121.482702,470.569064,148.953197,481.609514,"(121, 220)",vrm,TXV33
4277,12,WON,152.088684,470.569064,179.601486,481.609514,"(121, 220)",vrm,TXV33
4278,12,Mercedes,220.539474,470.569064,268.811686,481.609514,"(220, 312)",make,TXV33
4279,12,Vito,312.311059,470.569064,331.333668,481.609514,"(312, 419)",model,TXV33
4280,12,27/10/2023,419.039002,470.569064,474.222535,481.609514,"(419, 482)",license_start,TXV33
4281,12,26/10/2024,482.657439,470.569064,537.842482,481.609514,"(482, 538)",license_end,TXV33
4282,12,TXV43,52.919998,484.369082,86.771528,495.409532,"(52, 121)",plate,TXV43
4283,12,NK17,121.482702,484.369082,148.896054,495.409532,"(121, 220)",vrm,TXV43
4284,12,CKE,151.965126,484.369082,174.655019,495.409532,"(121, 220)",vrm,TXV43
4285,12,Citroen,220.517048,484.369082,256.047071,495.409532,"(220, 312)",make,TXV43
4286,12,Berlingo,312.397528,484.369082,352.853273,495.409532,"(312, 419)",model,TXV43
4287,12,27/10/2023,419.029730,484.369082,474.214773,495.409532,"(419, 482)",license_start,TXV43

In [ ]:
df.to_csv("test.csv")

In [ ]:
df_reduced = df[24:][["text", "value"]].reset_index(drop=True)

In [ ]:
df_reduced.to_csv("df_reduced.csv", index=False)

In [ ]:
df_reduced

            text          value
0          Skoda           make
1          Fabia          model
2     21/02/2023  license_start
3     20/02/2024    license_end
4        PHV3720          plate
...          ...            ...
4381         ATV            vrm
4382     Peugeot           make
4383     Horizon          model
4384  10/02/2024  license_start
4385  09/02/2025    license_end

[4386 rows x 2 columns]

In [ ]:
new_value_column = []
new_text_column = []

# Iterate over the dataframe to concatenate values
current_value = None
current_text = ""

for value, text in zip(df_reduced['value'], df_reduced['text']):
    if value == current_value:
        current_text += text + " "
    else:
        if current_value is not None:
            new_value_column.append(current_value)
            new_text_column.append(current_text.strip())
        current_value = value
        current_text = text

# Append the last accumulated values
if current_value is not None:
    new_value_column.append(current_value)
    new_text_column.append(current_text.strip())

# Create a new DataFrame with the concatenated values
new_df = pd.DataFrame({
    'value': new_value_column,
    'text': new_text_column
})

In [ ]:
new_df.to_csv("inspection.csv")