In [148]:
import pdfplumber
import pandas as pd


def extract_pdf_text(pdf_path):
    # Open the PDF file
    with pdfplumber.open(pdf_path) as pdf:
        # Initialize an empty list to store the extracted data
        data = []
        # Iterate through each page
        for page_num, page in enumerate(pdf.pages):
            # Extract the text with bounding boxes
            for element in page.extract_words():
                text = element['text']
                x0, y0, x1, y1 = element['x0'], element['top'], element['x1'], element['bottom']
                data.append([page_num + 1, text, x0, y0, x1, y1])

        # Convert the list to a DataFrame
        df = pd.DataFrame(data, columns=['page', 'text', 'x0', 'y0', 'x1', 'y1'])
        return df


def find_interval(number, intervals):
    intervals = sorted(intervals)
    for interval in intervals:
        if number >= interval[0] and number < interval[1]:
            return interval
    return None


def assign_intervals_and_values(df, gridlines):
    df["interval"] = df['x0'].apply(lambda x: find_interval(x, list(gridlines.keys())))
    df["value"] = df["interval"].apply(lambda x: gridlines.get(x, None) if x else None)
    return df


def process_consecutive_values(df, target_value):
    processed_rows = []
    current_row = None

    for _, row in df.iterrows():
        if row['value'] == target_value:
            if current_row is None:
                current_row = row.copy()
            else:
                # Concatenate the text field
                current_row['text'] += row['text']
                # Update the bounding box
                current_row['x1'] = max(current_row['x1'], row['x1'])
                current_row['y1'] = max(current_row['y1'], row['y1'])
        else:
            if current_row is not None:
                processed_rows.append(current_row)
                current_row = None
            processed_rows.append(row)

    if current_row is not None:
        processed_rows.append(current_row)

    return pd.DataFrame(processed_rows)

In [149]:
def update_identifier_ranges(df, unique_identifier):
    df_identifier = df[df["value"] == unique_identifier].sort_values(by=["page","y1"]).reset_index(drop=True)
    for index in df_identifier.index:
        if index == 0:
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index, 'y0'] 
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
        elif index == df_identifier.index.max():
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1'] 
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
        else:
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1']
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']

    df_identifier = df_identifier[["page", "text", "identifier_range_y0", "identifier_range_y1"]]
    return df_identifier

In [150]:
def concatenate_values(df):
    new_value_column = []
    new_text_column = []

    # Iterate over the dataframe to concatenate values
    current_value = None
    current_text = ""

    for value, text in zip(df['value'], df['text']):
        if value == current_value:
            current_text += text + " "
        else:
            if current_value is not None:
                new_value_column.append(current_value)
                new_text_column.append(current_text.strip())
            current_value = value
            current_text = text + " "  # Added space at the end of each text

    # Append the last accumulated values
    if current_value is not None:
        new_value_column.append(current_value)
        new_text_column.append(current_text.strip())

    # Create a new DataFrame with the concatenated values
    new_df = pd.DataFrame({
        'value': new_value_column,
        'text': new_text_column
    })
    return new_df

def transform_df(new_df, unique_identifier):
    new_df[unique_identifier] = new_df.apply(lambda x: x.text if x.value == unique_identifier else None, axis=1).ffill()
    new_df = new_df.pivot_table(index=unique_identifier, columns='value', values='text', aggfunc='first')
    return new_df

In [151]:
council = "Argyll and Bute"
config = {
    "Bedford": {
        "gridlines": {
            (52, 121): "plate",
            (121, 220): "vrm",
            (220, 312): "make",
            (312, 418): "model",
            (418, 482): "licence_start",
            (482, 538): "licence_end"
        },
        "unique_identifier": "plate"
    },
    "BCP": {
        "gridlines": {
            (42, 76): "reference_number",
            (76, 212): "name",
            (212, 268): "vrm",
            (268, 311): "licence_number",
            (311, 364): "licence_start",
            (364, 412): "licence_end",
            (412, 528): "make",
            (528, 590): "licence_type",
        },
        "unique_identifier": "reference_number"
    },
    "Cheshire West": {
        "gridlines": {
            (52, 160): "make",
            (160, 478): "model",
            (478, 540): "vrm"
        },
        "unique_identifier": "vrm"
    },
    "East Northamptonshire": {
        "gridlines": {
            (55, 130): "vrm",
            (160, 240): "make",
            (240, 540): "model"
        },
        "unique_identifier": "vrm"
    },
    "Fylde": {
        "gridlines": {
            (18, 87): "vrm",
            (87, 216): "make",
            (216, 340): "model",
            (340, 460): "licence_start",
            (460, 540): "licence_end"
        },
        "unique_identifier": "vrm"
    },
    "Great Yarmouth": {
        "gridlines": {
            (52, 160): "vrm",
            (160, 238): "make",
            (238, 540): "model",
        },
        "unique_identifier": "vrm"
    },
    "Horsham": {
        "gridlines": {
            (52, 103): "reference_number",
            (103, 152): "licence_type",
            (152, 218): "name",
            (218, 266): "vrm",
            (266, 320): "make",
            (320, 386): "model",
            (386, 446): "licence_start",
            (446, 484): "licence_end",
            (484, 540): "plate",
        },
        "unique_identifier": "vrm"
    },
    "Kettering": {
        "gridlines": {
            (55, 102): "vrm",
            (148, 214): "make",
            (214, 540): "model"
        },
        "unique_identifier": "vrm"
    },
    "Maldon": {
        "gridlines": {
            (35, 142): "plate",
            (142, 258): "vrm",
            (258, 312): "make",
            (312, 445): "model",
            (445, 576): "colour",
            (576, 648): "seats",
            (648, 736): "licence_start",
            (736, 800): "licence_end",
        },
        "unique_identifier": "vrm"
    },
    "Milton Keynes": {
        "gridlines": {
            (256, 288): "plate",
            (288, 336): "vrm",
            (336, 406): "make",
            (406, 488): "model",
            (488, 742): "name",
            (742, 800): "licence_end"
        },
        "unique_identifier": "plate"
    },
    "North Lanarkshire": {
        "gridlines": {
            (52, 140): "vrm",
            (140, 210): "make",
            (210, 360): "model",
        },
        "unique_identifier": "vrm"
    },
    "Powys": {
        "gridlines": {
            (3, 38): "plate",
            (98, 222): "vrm",
            (222, 312): "make",
            (312, 404): "model",
            (404, 482): "licence_start",
        },
        "unique_identifier": "plate"
    },
    "Swansea": {
        "gridlines": {
            (52, 130): "vrm",
            (130, 240): "make"
        },
        "unique_identifier": "vrm"
    },
    "Wealden": {
        "gridlines": {
            (56, 98): "plate",
            (98, 136): "vrm",
            (136, 206): "make",
            (206, 272): "model",
            (272, 315): "colour",
            (315, 404): "name",
            (450, 488): "licence_start",
            (496, 540): "licence_end",
        },
        "unique_identifier": "vrm"
    },
    "West Lothian": {
        "gridlines": {
            (52, 184): "licence_type",
            (184, 295): "vrm",
            (295, 372): "make",
            (372, 440): "model",
        },
        "unique_identifier": "vrm"
    },
    "West Morland Barrow": {
        "gridlines": {
            (55, 118): "vrm",
            (118, 200): "make",
            (200, 300): "model",
        },
        "unique_identifier": "vrm"
    },
    "Argyll and Bute": {
        "gridlines": {
            (52, 158): "vrm",
            (158, 245): "make",
            (245, 400): "model",
        },
        "unique_identifier": "vrm"
    }
}

gridlines = config[council]["gridlines"]
unique_identifier = config[council]["unique_identifier"]

# Path to the PDF file
pdf_path = f'pdfs/tabular/{council}.pdf'
df = extract_pdf_text(pdf_path)

In [152]:
df.head(50)

    page                  text          x0         y0          x1         y1
0      1  Vehicle_Registration   52.916200   57.48100  153.946552   68.52100
1      1          Vehicle_Make  159.476200   57.48100  228.473992   68.52100
2      1         Vehicle_Model  246.716200   57.48100  318.619720   68.52100
3      1                  KU63   52.916200   71.16100   80.414632   82.20100
4      1                   SEY   83.520184   71.16100  105.522904   82.20100
5      1               Peugeot  159.474280   71.16100  200.568472   82.20100
6      1                   508  246.712360   71.16100  265.082920   82.20100
7      1                Active  268.185160   71.16100  298.083688   82.20100
8      1                  SC08   52.916200   84.83956   80.410216   95.87956
9      1                   YZZ   83.512456   84.83956  104.301880   95.87956
10     1                Toyota  159.474280   84.83956  193.204792   95.87956
11     1               Avensis  246.712360   84.83956  285.103960   95.87956
12     1                  BT02   52.916200   98.51812   79.333816  109.55812
13     1                   GAZ   82.440472   98.51812  105.145336  109.55812
14     1                   Kia  159.474280   98.51812  175.327720  109.55812
15     1                  Ceed  246.712360   98.51812  273.003016  109.55812
16     1                  BW15   52.916200  112.19668   83.410888  123.23668
17     1                   MFP   86.513128  112.19668  109.599976  123.23668
18     1                  Ford  159.474280  112.19668  182.172520  123.23668
19     1               Tourneo  246.712360  112.19668  287.875000  123.23668
20     1                  SJ57   52.916200  125.87524   78.014536  136.91524
21     1                   XVD   81.120088  125.87524  103.850344  136.91524
22     1                 Skoda  159.474280  125.87524  190.804696  136.91524
23     1               Octavia  246.712360  125.87524  284.059576  136.91524
24     1                  FX65   52.916200  139.55380   79.333816  150.59380
25     1                   ZWC   82.436056  139.55380  108.049960  150.59380
26     1            Volkswagen  159.474280  139.55380  218.880520  150.59380
27     1                Passat  246.712360  139.55380  280.373320  150.59380
28     1                  SJ14   52.916200  153.23236   78.010120  164.27236
29     1                   WZK   81.112360  153.23236  106.120168  164.27236
30     1                  Seat  159.474280  153.23236  182.095240  164.27236
31     1                Toledo  246.712360  153.23236  280.439560  164.27236
32     1                  SG16   52.916200  166.91092   81.138856  177.95092
33     1                   OGX   84.244408  166.91092  108.896728  177.95092
34     1               Hyundai  159.474280  166.91092  199.709560  177.95092
35     1                  I-40  246.712360  166.91092  265.807144  177.95092
36     1                  SM66   52.916200  180.58948   81.494344  191.62948
37     1                   NCE   84.601000  180.58948  107.796040  191.62948
38     1            Volkswagen  159.474280  180.58948  218.880520  191.62948
39     1               Shuttle  246.712360  180.58948  281.042344  191.62948
40     1                  SC09   52.916200  194.26804   80.410216  205.30804
41     1                   LVU   83.512456  194.26804  104.919016  205.30804
42     1                  Ford  159.474280  194.26804  182.172520  205.30804
43     1                Mondeo  246.712360  194.26804  286.315048  205.30804
44     1                  FV63   52.916200  207.94660   79.213480  218.98660
45     1                   WUT   82.315720  207.94660  107.900920  218.98660
46     1                 Skoda  159.474280  207.94660  190.804696  218.98660
47     1               Octavia  246.712360  207.94660  284.059576  218.98660
48     1                  MJ62   52.916200  221.62516   79.690408  232.66516
49     1                   FGZ   82.792648  221.62516  104.901352  232.66516

In [153]:
df = assign_intervals_and_values(df, gridlines)
df = process_consecutive_values(df, target_value=unique_identifier)
df_identifier = update_identifier_ranges(df, unique_identifier)
df_reduced = df[["text", "value"]].reset_index(drop=True)
new_df = concatenate_values(df_reduced)
new_df = transform_df(new_df, unique_identifier)

In [154]:
new_df

value          make            model      vrm
vrm
0003JZK    Mercedes          E Class  0003JZK
0003LZK         BMW             520D  0003LZK
AD59RUR       Skoda          Octavia  AD59RUR
AJ19YML        Ford  Tourneo Connect  AJ19YML
AT56CAB  Volkswagen           Touran  AT56CAB
...             ...              ...      ...
YD19JCL       Skoda          Octavia  YD19JCL
YH67OWD         BMW             530D  YH67OWD
YH68LWM        Ford   Tourneo Custom  YH68LWM
YL67VMW        Ford   Tourneo Custom  YL67VMW
YT11ZBD        Ford     Mondeo Sport  YT11ZBD

[173 rows x 3 columns]

In [155]:
new_df.to_csv('inspection.csv')