In [1]:
import pdfplumber
import pandas as pd

# Path to the PDF file
pdf_path = 'pdfs/BCP.pdf'

# Open the PDF file
with pdfplumber.open(pdf_path) as pdf:
    # Initialize an empty list to store the extracted data
    data = []
    # Iterate through each page
    for page_num, page in enumerate(pdf.pages):
        # Extract the text with bounding boxes
        for element in page.extract_words():
            text = element['text']
            x0, y0, x1, y1 = element['x0'], element['top'], element['x1'], element['bottom']
            data.append([page_num + 1, text, x0, y0, x1, y1])

    # Convert the list to a DataFrame
    df = pd.DataFrame(data, columns=['page', 'text', 'x0', 'y0', 'x1', 'y1'])
    # Save the DataFrame to a CSV file
    df.to_csv('extracted_text.csv', index=False)

In [2]:
def find_interval(number, intervals):
    intervals = sorted(intervals)
    for interval in intervals:
        if number >= interval[0] and number < interval[1]:
            return interval
    return None


gridlines = {"Bedford":{
    (52, 121): "plate",
    (121, 220): "vrm",
    (220, 312): "make",
    (312, 419): "model",
    (419, 482): "licence_start",
    (482, 538): "licence_end"
},
"BCP":{
    (42, 76): "reference_number",
    (76, 212): "name",
    (212, 268): "vrm",
    (268, 311): "licence_number",
    (311, 364): "licence_start",
    (364, 412): "licence_end",
    (412, 528): "make",
    (528, 590): "licence_type",
}
}

has_header = True
council = "BCP"
first_value = "Ref"
unique_identifier = "reference_number"

df["interval"] = df['x0'].apply(lambda x: find_interval(x, list(gridlines[council].keys())))
df["value"] = df["interval"].apply(lambda x: gridlines[council].get(x, None) if x else None)

In [3]:
starting_index = df[df["text"] == first_value].index[0]

In [4]:
df = df[starting_index:]

In [5]:
df[2140:2170]

,page,text,x0,y0,x1,y1,interval,value
2148,3,Zone,550.87588,589.8904,571.96156,599.1304,"(528, 590)",licence_type
2149,3,B,574.53028,589.8904,580.69336,599.1304,"(528, 590)",licence_type
2150,3,120233,42.36000,601.5604,73.29764,610.8004,"(42, 76)",reference_number
2151,3,Mr,76.92000,601.5604,87.55524,610.8004,"(76, 212)",name
2152,3,Abate,90.11472,601.5604,114.20340,610.8004,"(76, 212)",name
2153,3,HF53,212.66000,601.5604,235.28876,610.8004,"(212, 268)",vrm
2154,3,RUO,237.83900,601.5604,258.44420,610.8004,"(212, 268)",vrm
2155,3,120233,271.13000,601.5604,302.06764,610.8004,"(268, 311)",licence_number
2156,3,05-May-09,311.21000,601.5604,355.18316,610.8004,"(311, 364)",licence_start
2157,3,31-May-24,364.39000,601.5604,408.36316,610.8004,"(364, 412)",licence_end
2158,3,Lincoln,412.03000,601.5604,441.37624,610.8004,"(412, 528)",make
2159,3,Town,443.92648,601.5604,466.46284,610.8004,"(412, 528)",make
2160,3,Car,469.03156,601.5604,483.95416,610.8004,"(412, 528)",make
2161,3,BCP,528.82000,601.5604,547.80820,610.8004,"(528, 590)",licence_type
2162,3,PHV,550.28452,601.5604,569.27272,610.8004,"(528, 590)",licence_type
2163,3,169427,42.36000,613.2004,73.29764,622.4404,"(42, 76)",reference_number
2164,3,Mr,76.92000,613.2004,87.55524,622.4404,"(76, 212)",name
2165,3,Rahmani,90.11472,613.2004,127.28724,622.4404,"(76, 212)",name
2166,3,MJ69,212.66000,613.2004,235.15940,622.4404,"(212, 268)",vrm
2167,3,XZM,237.71888,613.2004,257.17832,622.4404,"(212, 268)",vrm
2168,3,HCV193,268.61000,613.2004,303.59264,622.4404,"(268, 311)",licence_number
2169,3,05-May-10,311.21000,613.2004,355.18316,622.4404,"(311, 364)",licence_start
2170,3,31-May-24,364.39000,613.2004,408.36316,622.4404,"(364, 412)",licence_end
2171,3,Toyota,412.03000,613.2004,440.11036,622.4404,"(412, 528)",make
2172,3,Corolla,442.62364,613.2004,471.97912,622.4404,"(412, 528)",make
2173,3,Estate,474.54784,613.2004,500.67856,622.4404,"(412, 528)",make
2174,3,HCV,528.82000,613.2004,548.39956,622.4404,"(528, 590)",licence_type
2175,3,Zone,550.87588,613.2004,571.96156,622.4404,"(528, 590)",licence_type
2176,3,B,574.53028,613.2004,580.69336,622.4404,"(528, 590)",licence_type
2177,3,148771,42.36000,624.8404,73.29764,634.0804,"(42, 76)",reference_number

In [6]:
df[df['text'] == "120233"]

,page,text,x0,y0,x1,y1,interval,value
2150,3,120233,42.36,601.5604,73.29764,610.8004,"(42, 76)",reference_number
2155,3,120233,271.13,601.5604,302.06764,610.8004,"(268, 311)",licence_number

Concatenate the Identifier value first (in this case plate)

In [7]:
def process_consecutive_values(df, target_value):
    processed_rows = []
    current_row = None

    for _, row in df.iterrows():
        if row['value'] == target_value:
            if current_row is None:
                current_row = row.copy()
            else:
                # Concatenate the text field
                current_row['text'] += row['text']
                # Update the bounding box
                current_row['x1'] = max(current_row['x1'], row['x1'])
                current_row['y1'] = max(current_row['y1'], row['y1'])
        else:
            if current_row is not None:
                processed_rows.append(current_row)
                current_row = None
            processed_rows.append(row)

    if current_row is not None:
        processed_rows.append(current_row)

    return pd.DataFrame(processed_rows)

df = process_consecutive_values(df, target_value=unique_identifier)

In [8]:
df.tail(50)

,page,text,x0,y0,x1,y1,interval,value
11822,16,HCV83,268.61000,368.5904,298.41824,377.8304,"(268, 311)",licence_number
11823,16,10-Feb-23,312.41000,368.5904,355.17272,377.8304,"(311, 364)",licence_start
11824,16,31-Mar-25,365.71000,368.5904,408.35260,377.8304,"(364, 412)",licence_end
11825,16,Toyota,412.03000,368.5904,440.11036,377.8304,"(412, 528)",make
11826,16,Corolla,442.62364,368.5904,471.97912,377.8304,"(412, 528)",make
11827,16,Estate,474.54784,368.5904,500.67856,377.8304,"(412, 528)",make
11828,16,HCV,528.82000,368.5904,548.39956,377.8304,"(528, 590)",licence_type
11829,16,Zone,550.87588,368.5904,571.96156,377.8304,"(528, 590)",licence_type
11830,16,B,574.53028,368.5904,580.69336,377.8304,"(528, 590)",licence_type
11831,16,172299,42.36000,380.2304,73.29764,389.4704,"(42, 76)",reference_number
11832,16,Mr,76.92000,380.2304,87.55524,389.4704,"(76, 212)",name
11833,16,Hayatzaei,90.11472,380.2304,131.02944,389.4704,"(76, 212)",name
11834,16,BJ72,212.66000,380.2304,233.71796,389.4704,"(212, 268)",vrm
11835,16,EEH,236.27744,380.2304,255.18248,389.4704,"(212, 268)",vrm
11836,16,172299,271.13000,380.2304,302.06764,389.4704,"(268, 311)",licence_number
11837,16,10-Mar-23,312.53000,380.2304,355.17260,389.4704,"(311, 364)",licence_start
11838,16,31-Mar-25,365.71000,380.2304,408.35260,389.4704,"(364, 412)",licence_end
11839,16,Hyundai,412.03000,380.2304,445.85764,389.4704,"(412, 528)",make
11840,16,Ioniq,448.37092,380.2304,468.39400,389.4704,"(412, 528)",make
11841,16,BCP,528.82000,380.2304,547.80820,389.4704,"(528, 590)",licence_type
11842,16,PHV,550.28452,380.2304,569.27272,389.4704,"(528, 590)",licence_type
11843,16,175153,42.36000,391.8704,73.29764,401.1104,"(42, 76)",reference_number
11844,16,Miss,76.92000,391.8704,95.80656,401.1104,"(76, 212)",name
11845,16,Jordan,98.37528,391.8704,126.76056,401.1104,"(76, 212)",name
11846,16,GD68,212.66000,391.8704,236.84108,401.1104,"(212, 268)",vrm
11847,16,OKT,239.40056,391.8704,258.37028,401.1104,"(212, 268)",vrm
11848,16,175153,271.13000,391.8704,302.06764,401.1104,"(268, 311)",licence_number
11849,16,09-Nov-23,311.81000,391.8704,355.16408,401.1104,"(311, 364)",licence_start
11850,16,31-Mar-25,365.71000,391.8704,408.35260,401.1104,"(364, 412)",licence_end
11851,16,Volkswagen,412.03000,391.8704,461.87056,401.1104,"(412, 528)",make
11852,16,Passat,464.43004,391.8704,492.75064,401.1104,"(412, 528)",make
11853,16,BCP,528.82000,391.8704,547.80820,401.1104,"(528, 590)",licence_type
11854,16,PHV,550.28452,391.8704,569.27272,401.1104,"(528, 590)",licence_type
11855,16,Toyota,412.03000,403.5104,440.11036,412.7504,"(412, 528)",make
11856,16,Proace,442.62364,403.5104,471.96988,412.7504,"(412, 528)",make
11857,16,Verso,474.53860,403.5104,498.71044,412.7504,"(412, 528)",make
11858,16,175637,42.36000,409.2704,73.29764,418.5104,"(42, 76)",reference_number
11859,16,Mr,76.92000,409.2704,87.55524,418.5104,"(76, 212)",name
11860,16,Zadran,90.11472,409.2704,119.45172,418.5104,"(76, 212)",name
11861,16,AE19,212.66000,409.2704,235.16864,418.5104,"(212, 268)",vrm
11862,16,XHW,237.72812,409.2704,259.27580,418.5104,"(212, 268)",vrm
11863,16,H25,268.61000,409.2704,285.59312,418.5104,"(268, 311)",licence_number
11864,16,24-Jan-24,313.37000,409.2704,355.16252,418.5104,"(311, 364)",licence_start
11865,16,31-Mar-25,365.71000,409.2704,408.35260,418.5104,"(364, 412)",licence_end
11866,16,HCV,528.82000,409.2704,548.39956,418.5104,"(528, 590)",licence_type
11867,16,Zone,550.87588,409.2704,571.96156,418.5104,"(528, 590)",licence_type
11868,16,P,574.53028,409.2704,580.69336,418.5104,"(528, 590)",licence_type
11869,16,(Medium,412.03000,414.9304,447.89968,424.1704,"(412, 528)",make
11870,16,Long),450.52384,414.9304,474.22444,424.1704,"(412, 528)",make
11871,16,WB,476.78392,414.9304,492.17776,424.1704,"(412, 528)",make

In [9]:
df.to_csv("test.csv", index=False)

In [10]:
df_identifier = df[df["value"] == unique_identifier].sort_values(by=["page","y1"]).reset_index(drop=True)

In [11]:
for index in df_identifier.index:
    if index == 0:
        df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index, 'y0'] 
        df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
    elif index == df_identifier.index.max():
        df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1'] 
        df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
    else:
        df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1']
        df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']

In [12]:
df_identifier = df_identifier[["page", "text", "identifier_range_y0", "identifier_range_y1"]]

In [13]:
df_identifier.to_csv("df_identifier.csv", index=False)

In [14]:
df_identifier

     page    text  identifier_range_y0  identifier_range_y1
0       1     Ref              60.4100              69.6500
1       1  168783              69.6500              86.9204
2       1  144672              86.9204              98.5604
3       1  151221              98.5604             110.2004
4       1  159161             110.2004             121.8404
..    ...     ...                  ...                  ...
908    16  176289             354.5504             366.1904
909    16  171996             366.1904             377.8304
910    16  172299             377.8304             389.4704
911    16  175153             389.4704             401.1104
912    16  175637             401.1104             418.5104

[913 rows x 4 columns]

In [15]:
df.head(50)

,page,text,x0,y0,x1,y1,interval,value
8,1,Ref,46.20000,60.4100,58.63704,69.6500,"(42, 76)",reference_number
9,1,Name,131.90000,60.4100,154.36244,69.6500,"(76, 212)",name
10,1,Vehicle,217.25000,60.4100,244.73900,69.6500,"(212, 268)",vrm
11,1,Reg,246.74408,60.4100,260.71496,69.6500,"(212, 268)",vrm
12,1,Lic,272.81000,60.4100,282.71528,69.6500,"(268, 311)",licence_number
13,1,No.,284.80352,60.4100,298.02596,69.6500,"(268, 311)",licence_number
14,1,Licence,306.17000,60.4100,334.03784,69.6500,"(268, 311)",licence_number
15,1,Issue,336.04292,60.4100,354.92948,69.6500,"(311, 364)",licence_start
16,1,Make,442.42000,60.4100,463.57960,69.6500,"(412, 528)",make
17,1,/,465.57544,60.4100,469.14208,69.6500,"(412, 528)",make
18,1,model,471.21184,60.4100,495.03256,69.6500,"(412, 528)",make
19,1,Licence,530.38000,60.4100,558.24784,69.6500,"(528, 590)",licence_type
20,1,Type,560.25292,60.4100,578.40952,69.6500,"(528, 590)",licence_type
21,1,Renewal,367.63000,66.5300,399.74824,75.7700,"(364, 412)",licence_end
22,1,168783,42.36000,77.6804,73.29764,86.9204,"(42, 76)",reference_number
23,1,Mrs,76.92000,77.6804,92.21220,86.9204,"(76, 212)",name
24,1,Kaz,94.78092,77.6804,110.65524,86.9204,"(76, 212)",name
25,1,CF68,212.66000,77.6804,235.28876,86.9204,"(212, 268)",vrm
26,1,KKE,237.83900,77.6804,256.23584,86.9204,"(212, 268)",vrm
27,1,HCV190,268.61000,77.6804,303.59264,86.9204,"(268, 311)",licence_number
28,1,11-Jan-06,313.37000,77.6804,355.16252,86.9204,"(311, 364)",licence_start
29,1,31-Jan-24,366.55000,77.6804,408.34252,86.9204,"(364, 412)",licence_end
30,1,Dacia,412.03000,77.6804,435.75832,86.9204,"(412, 528)",make
31,1,Logan,438.29008,77.6804,464.05120,86.9204,"(412, 528)",make
32,1,HCV,528.82000,77.6804,548.39956,86.9204,"(528, 590)",licence_type
33,1,Zone,550.87588,77.6804,571.96156,86.9204,"(528, 590)",licence_type
34,1,B,574.53028,77.6804,580.69336,86.9204,"(528, 590)",licence_type
35,1,144672,42.36000,89.3204,73.29764,98.5604,"(42, 76)",reference_number
36,1,Mrs,76.92000,89.3204,92.21220,98.5604,"(76, 212)",name
37,1,Edalat,94.78092,89.3204,120.96708,98.5604,"(76, 212)",name
38,1,SF62,212.66000,89.3204,234.69740,98.5604,"(212, 268)",vrm
39,1,EZW,237.24764,89.3204,257.73272,98.5604,"(212, 268)",vrm
40,1,HCV230,268.61000,89.3204,303.59264,98.5604,"(268, 311)",licence_number
41,1,23-Jan-18,313.37000,89.3204,355.16252,98.5604,"(311, 364)",licence_start
42,1,31-Jan-24,366.55000,89.3204,408.34252,98.5604,"(364, 412)",licence_end
43,1,Peugeot,412.03000,89.3204,446.47672,98.5604,"(412, 528)",make
44,1,Partner,448.97152,89.3204,479.26948,98.5604,"(412, 528)",make
45,1,HCV,528.82000,89.3204,548.39956,98.5604,"(528, 590)",licence_type
46,1,Zone,550.87588,89.3204,571.96156,98.5604,"(528, 590)",licence_type
47,1,B,574.53028,89.3204,580.69336,98.5604,"(528, 590)",licence_type
48,1,151221,42.36000,100.9604,73.29764,110.2004,"(42, 76)",reference_number
49,1,Mr,76.92000,100.9604,87.55524,110.2004,"(76, 212)",name
50,1,Salehi,90.11472,100.9604,115.77420,110.2004,"(76, 212)",name
51,1,NK14,212.66000,100.9604,235.76000,110.2004,"(212, 268)",vrm
52,1,DZW,238.31948,100.9604,259.39592,110.2004,"(212, 268)",vrm
53,1,HCV200,268.61000,100.9604,303.59264,110.2004,"(268, 311)",licence_number
54,1,22-Jan-20,313.37000,100.9604,355.16252,110.2004,"(311, 364)",licence_start
55,1,31-Jan-24,366.55000,100.9604,408.34252,110.2004,"(364, 412)",licence_end
56,1,Citroen,412.03000,100.9604,441.86596,110.2004,"(412, 528)",make
57,1,Berlingo,444.43468,100.9604,478.31776,110.2004,"(412, 528)",make

In [16]:
df["identifier"] = df.apply(lambda row: df_identifier[(df_identifier['identifier_range_y0'] <= row['y0']) & (df_identifier['identifier_range_y1'] >= row['y1']) & (df_identifier['page'] == row['page'])]['text'].iloc[0] if not df_identifier[(df_identifier['identifier_range_y0'] <= row['y0']) & (df_identifier['identifier_range_y1'] >= row['y1']) & (df_identifier['page'] == row['page'])].empty else None, axis=1)

In [17]:
df[-200:-150]

,page,text,x0,y0,x1,y1,interval,value,identifier
11672,16,Class,463.82944,217.3604,487.03108,226.6004,"(412, 528)",make,176069
11673,16,BCP,528.82000,217.3604,547.80820,226.6004,"(528, 590)",licence_type,176069
11674,16,PHV,550.28452,217.3604,569.27272,226.6004,"(528, 590)",licence_type,176069
11675,16,Volkswagen,412.03000,229.0004,461.87056,238.2404,"(412, 528)",make,175967
11676,16,Caddy,464.43004,229.0004,491.20756,238.2404,"(412, 528)",make,175967
11677,16,Maxi,493.57300,229.0004,512.78296,238.2404,"(412, 528)",make,175967
11678,16,175967,42.36000,234.7904,73.29764,244.0304,"(42, 76)",reference_number,175967
11679,16,Mr,76.92000,234.7904,87.55524,244.0304,"(76, 212)",name,175967
11680,16,Inocencio,90.11472,234.7904,129.78204,244.0304,"(76, 212)",name,175967
11681,16,HG72,212.66000,234.7904,236.85956,244.0304,"(212, 268)",vrm,175967
11682,16,MRO,239.42828,234.7904,260.85584,244.0304,"(212, 268)",vrm,175967
11683,16,175967,271.13000,234.7904,302.06764,244.0304,"(268, 311)",licence_number,175967
11684,16,05-Feb-24,312.41000,234.7904,355.17272,244.0304,"(311, 364)",licence_start,175967
11685,16,28-Feb-25,365.59000,234.7904,408.35272,244.0304,"(364, 412)",licence_end,175967
11686,16,BCP,528.82000,234.7904,547.80820,244.0304,"(528, 590)",licence_type,175967
11687,16,PHV,550.28452,234.7904,569.27272,244.0304,"(528, 590)",licence_type,175967
11688,16,Life,412.03000,240.4304,426.99880,249.6704,"(412, 528)",make,None
11689,16,176082,42.36000,252.1904,73.29764,261.4304,"(42, 76)",reference_number,176082
11690,16,Mr,76.92000,252.1904,87.55524,261.4304,"(76, 212)",name,176082
11691,16,Alizadeh,90.11472,252.1904,125.45772,261.4304,"(76, 212)",name,176082
11692,16,YS73,212.66000,252.1904,234.92840,261.4304,"(212, 268)",vrm,176082
11693,16,NHF,237.48788,252.1904,256.55000,261.4304,"(212, 268)",vrm,176082
11694,16,176082,271.13000,252.1904,302.06764,261.4304,"(268, 311)",licence_number,176082
11695,16,12-Feb-24,312.41000,252.1904,355.17272,261.4304,"(311, 364)",licence_start,176082
11696,16,28-Feb-25,365.59000,252.1904,408.35272,261.4304,"(364, 412)",licence_end,176082
11697,16,Toyota,412.03000,252.1904,440.11036,261.4304,"(412, 528)",make,176082
11698,16,Corolla,442.62364,252.1904,471.97912,261.4304,"(412, 528)",make,176082
11699,16,Estate,474.54784,252.1904,500.67856,261.4304,"(412, 528)",make,176082
11700,16,BCP,528.82000,252.1904,547.80820,261.4304,"(528, 590)",licence_type,176082
11701,16,PHV,550.28452,252.1904,569.27272,261.4304,"(528, 590)",licence_type,176082
11702,16,176184,42.36000,263.8304,73.29764,273.0704,"(42, 76)",reference_number,176184
11703,16,Mr,76.92000,263.8304,87.55524,273.0704,"(76, 212)",name,176184
11704,16,Mohammad,90.11472,263.8304,139.00356,273.0704,"(76, 212)",name,176184
11705,16,DN69,212.66000,263.8304,236.35136,273.0704,"(212, 268)",vrm,176184
11706,16,AAZ,238.91084,263.8304,256.79024,273.0704,"(212, 268)",vrm,176184
11707,16,176184,271.13000,263.8304,302.06764,273.0704,"(268, 311)",licence_number,176184
11708,16,20-Feb-24,312.41000,263.8304,355.17272,273.0704,"(311, 364)",licence_start,176184
11709,16,28-Feb-25,365.59000,263.8304,408.35272,273.0704,"(364, 412)",licence_end,176184
11710,16,Vauxhall,412.03000,263.8304,447.31756,273.0704,"(412, 528)",make,176184
11711,16,Astra,449.81236,263.8304,471.36928,273.0704,"(412, 528)",make,176184
11712,16,BCP,528.82000,263.8304,547.80820,273.0704,"(528, 590)",licence_type,176184
11713,16,PHV,550.28452,263.8304,569.27272,273.0704,"(528, 590)",licence_type,176184
11714,16,175704,42.36000,275.4704,73.29764,284.7104,"(42, 76)",reference_number,175704
11715,16,Mr,76.92000,275.4704,87.55524,284.7104,"(76, 212)",name,175704
11716,16,White,90.11472,275.4704,114.20340,284.7104,"(76, 212)",name,175704
11717,16,DE69,212.66000,275.4704,235.76000,284.7104,"(212, 268)",vrm,175704
11718,16,PDO,238.31948,275.4704,258.33332,284.7104,"(212, 268)",vrm,175704
11719,16,HV073,268.61000,275.4704,296.88440,284.7104,"(268, 311)",licence_number,175704
11720,16,21-Feb-24,312.41000,275.4704,355.17272,284.7104,"(311, 364)",licence_start,175704
11721,16,28-Feb-25,365.59000,275.4704,408.35272,284.7104,"(364, 412)",licence_end,175704

In [18]:
df.to_csv("test.csv")

In [19]:
df_reduced = df[["text", "value"]].reset_index(drop=True)

In [20]:
df_reduced.to_csv("df_reduced.csv", index=False)

In [21]:
df_reduced

          text             value
0          Ref  reference_number
1         Name              name
2      Vehicle               vrm
3          Reg               vrm
4          Lic    licence_number
...        ...               ...
11859     Zone      licence_type
11860        P      licence_type
11861  (Medium              make
11862    Long)              make
11863       WB              make

[11864 rows x 2 columns]

In [22]:
new_value_column = []
new_text_column = []

# Iterate over the dataframe to concatenate values
current_value = None
current_text = ""

for value, text in zip(df_reduced['value'], df_reduced['text']):
    if value == current_value:
        current_text += text + " "
    else:
        if current_value is not None:
            new_value_column.append(current_value)
            new_text_column.append(current_text.strip())
        current_value = value
        current_text = text + " "  # Added space at the end of each text

# Append the last accumulated values
if current_value is not None:
    new_value_column.append(current_value)
    new_text_column.append(current_text.strip())

# Create a new DataFrame with the concatenated values
new_df = pd.DataFrame({
    'value': new_value_column,
    'text': new_text_column
})

In [23]:
new_df[unique_identifier] = new_df.apply(lambda x: x.text if x.value == unique_identifier else None, axis=1).ffill()

In [24]:
new_df.tail(50)

                 value                   text reference_number
7362      licence_type                BCP PHV           159221
7363  reference_number                 176044           176044
7364              name              Mr Harvey           176044
7365               vrm               BP19 VCG           176044
7366    licence_number                 176044           176044
7367     licence_start              31-Mar-21           176044
7368       licence_end              31-Mar-25           176044
7369              make              Volvo V90           176044
7370      licence_type                BCP PHV           176044
7371  reference_number                 176289           176289
7372              name             Mr Ferencz           176289
7373               vrm               OV69 NHL           176289
7374    licence_number                    H65           176289
7375     licence_start              24-Mar-22           176289
7376       licence_end              31-Mar-25           176289
7377              make          Hyundai Ioniq           176289
7378      licence_type             HCV Zone P           176289
7379  reference_number                 171996           171996
7380              name               Mr Folad           171996
7381               vrm               MM72 XCT           171996
7382    licence_number                  HCV83           171996
7383     licence_start              10-Feb-23           171996
7384       licence_end              31-Mar-25           171996
7385              make  Toyota Corolla Estate           171996
7386      licence_type             HCV Zone B           171996
7387  reference_number                 172299           172299
7388              name           Mr Hayatzaei           172299
7389               vrm               BJ72 EEH           172299
7390    licence_number                 172299           172299
7391     licence_start              10-Mar-23           172299
7392       licence_end              31-Mar-25           172299
7393              make          Hyundai Ioniq           172299
7394      licence_type                BCP PHV           172299
7395  reference_number                 175153           175153
7396              name            Miss Jordan           175153
7397               vrm               GD68 OKT           175153
7398    licence_number                 175153           175153
7399     licence_start              09-Nov-23           175153
7400       licence_end              31-Mar-25           175153
7401              make      Volkswagen Passat           175153
7402      licence_type                BCP PHV           175153
7403              make    Toyota Proace Verso           175153
7404  reference_number                 175637           175637
7405              name              Mr Zadran           175637
7406               vrm               AE19 XHW           175637
7407    licence_number                    H25           175637
7408     licence_start              24-Jan-24           175637
7409       licence_end              31-Mar-25           175637
7410      licence_type             HCV Zone P           175637
7411              make       (Medium Long) WB           175637

In [25]:
new_df.pivot_table(index='reference_number', columns='value', values='text', aggfunc='first')

value,licence_end,licence_number,licence_start,licence_type,make,name,reference_number,vrm
reference_number,,,,,,,,
120233,31-May-24,120233,05-May-09,BCP PHV,Lincoln Town Car,Mr Abate,120233,HF53 RUO
120744,31-Jul-24,HCV234,09-Jul-09,HCV Zone B,Citroen Dispatch,Mr Almoshabuk,120744,BX09 MSV
121429,31-Oct-24,HCV1,16-Oct-09,HCV Zone B,Peugeot 407,Ms Finet,121429,HJ09 HPY
124746,30-Nov-24,124746,01-Nov-10,BCP PHV,Skoda Octavia,Mr Fowler,124746,SG60 YVP
130601,31-Aug-24,HCV235,24-Aug-12,HCV Zone B,Peugeot Partner,Mr Khayal,130601,SA58 YZT
...,...,...,...,...,...,...,...,...
176228,31-May-24,176228,28-Feb-24,BCP PHV,Toyota Prius Plus,Mr Szymanski,176228,NA20 ECW
176289,31-Mar-25,H65,24-Mar-22,HCV Zone P,Hyundai Ioniq,Mr Ferencz,176289,OV69 NHL
176307,30-Apr-24,64,07-Apr-20,HCV Zone C,Ford Tourneo Custom,Mr Barnicoat,176307,ML19 KCX
176324,31-May-24,HCV225,01-May-19,HCV Zone B,Life,Mr Elmi-Aliabadi,176324,YX68 YNF
Ref,Renewal,Lic No. Licence,Issue,Licence Type,Make / model,Name,Ref,Vehicle Reg

In [26]:
new_df.to_csv("inspection.csv")