In [128]:
import pdfplumber
import pandas as pd


def extract_pdf_text(pdf_path):
    # Open the PDF file
    with pdfplumber.open(pdf_path) as pdf:
        # Initialize an empty list to store the extracted data
        data = []
        # Iterate through each page
        for page_num, page in enumerate(pdf.pages):
            # Extract the text with bounding boxes
            for element in page.extract_words():
                text = element['text']
                x0, y0, x1, y1 = element['x0'], element['top'], element['x1'], element['bottom']
                data.append([page_num + 1, text, x0, y0, x1, y1])

        # Convert the list to a DataFrame
        df = pd.DataFrame(data, columns=['page', 'text', 'x0', 'y0', 'x1', 'y1'])
        return df


def find_interval(number, intervals):
    intervals = sorted(intervals)
    for interval in intervals:
        if number >= interval[0] and number < interval[1]:
            return interval
    return None


def assign_intervals_and_values(df, gridlines):
    df["interval"] = df['x0'].apply(lambda x: find_interval(x, list(gridlines.keys())))
    df["value"] = df["interval"].apply(lambda x: gridlines.get(x, None) if x else None)
    return df


def process_consecutive_values(df, target_value):
    processed_rows = []
    current_row = None

    for _, row in df.iterrows():
        if row['value'] == target_value:
            if current_row is None:
                current_row = row.copy()
            else:
                # Concatenate the text field
                current_row['text'] += row['text']
                # Update the bounding box
                current_row['x1'] = max(current_row['x1'], row['x1'])
                current_row['y1'] = max(current_row['y1'], row['y1'])
        else:
            if current_row is not None:
                processed_rows.append(current_row)
                current_row = None
            processed_rows.append(row)

    if current_row is not None:
        processed_rows.append(current_row)

    return pd.DataFrame(processed_rows)

In [129]:
def update_identifier_ranges(df, unique_identifier):
    df_identifier = df[df["value"] == unique_identifier].sort_values(by=["page","y1"]).reset_index(drop=True)
    for index in df_identifier.index:
        if index == 0:
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index, 'y0'] 
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
        elif index == df_identifier.index.max():
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1'] 
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
        else:
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1']
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']

    df_identifier = df_identifier[["page", "text", "identifier_range_y0", "identifier_range_y1"]]
    return df_identifier

In [130]:
def concatenate_values(df):
    new_value_column = []
    new_text_column = []

    # Iterate over the dataframe to concatenate values
    current_value = None
    current_text = ""

    for value, text in zip(df['value'], df['text']):
        if value == current_value:
            current_text += text + " "
        else:
            if current_value is not None:
                new_value_column.append(current_value)
                new_text_column.append(current_text.strip())
            current_value = value
            current_text = text + " "  # Added space at the end of each text

    # Append the last accumulated values
    if current_value is not None:
        new_value_column.append(current_value)
        new_text_column.append(current_text.strip())

    # Create a new DataFrame with the concatenated values
    new_df = pd.DataFrame({
        'value': new_value_column,
        'text': new_text_column
    })
    return new_df

def transform_df(new_df, unique_identifier):
    new_df[unique_identifier] = new_df.apply(lambda x: x.text if x.value == unique_identifier else None, axis=1).ffill()
    new_df = new_df.pivot_table(index=unique_identifier, columns='value', values='text', aggfunc='first')
    return new_df

In [131]:
council = "Kettering"
config = {
    "Bedford": {
        "gridlines": {
            (52, 121): "plate",
            (121, 220): "vrm",
            (220, 312): "make",
            (312, 418): "model",
            (418, 482): "licence_start",
            (482, 538): "licence_end"
        },
        "unique_identifier": "plate"
    },
    "BCP": {
        "gridlines": {
            (42, 76): "reference_number",
            (76, 212): "name",
            (212, 268): "vrm",
            (268, 311): "licence_number",
            (311, 364): "licence_start",
            (364, 412): "licence_end",
            (412, 528): "make",
            (528, 590): "licence_type",
        },
        "unique_identifier": "reference_number"
    },
    "Cheshire West": {
        "gridlines": {
            (52, 160): "make",
            (160, 478): "model",
            (478, 540): "vrm"
        },
        "unique_identifier": "vrm"
    },
    "East Northamptonshire": {
        "gridlines": {
            (55, 130): "vrm",
            (160, 240): "make",
            (240, 540): "model"
        },
        "unique_identifier": "vrm"
    },
    "Fylde": {
        "gridlines": {
            (18, 87): "vrm",
            (87, 216): "make",
            (216, 340): "model",
            (340, 460): "licence_start",
            (460, 540): "licence_end"
        },
        "unique_identifier": "vrm"
    },
    "Great Yarmouth": {
        "gridlines": {
            (52, 160): "vrm",
            (160, 238): "make",
            (238, 540): "model",
        },
        "unique_identifier": "vrm"
    },
    "Horsham": {
        "gridlines": {
            (52, 103): "reference_number",
            (103, 152): "licence_type",
            (152, 218): "name",
            (218, 266): "vrm",
            (266, 320): "make",
            (320, 386): "model",
            (386, 446): "licence_start",
            (446, 484): "licence_end",
            (484, 540): "plate",
        },
        "unique_identifier": "vrm"
    },
    "Kettering": {
        "gridlines": {
            (55, 102): "vrm",
            (148, 214): "make",
            (214, 540): "model"
        },
        "unique_identifier": "vrm"
    },
}

gridlines = config[council]["gridlines"]
unique_identifier = config[council]["unique_identifier"]

# Path to the PDF file
pdf_path = f'pdfs/{council}.pdf'
df = extract_pdf_text(pdf_path)

In [132]:
df.head(50)

    page         text        x0        y0        x1        y1
0      1  Registratio   56.0519   74.1828  116.7719   85.2228
1      1            n   56.0519   87.4125   61.5719   98.4525
2      1       Number   67.0919   87.4125  100.2119   98.4525
3      1         Make  122.3193   87.4125  144.3993   98.4525
4      1        Model  214.6203   87.4125  242.2203   98.4525
5      1    Kettering  415.7893   87.4125  465.4693   98.4525
6      1         Area  470.9893   87.4125  493.0693   98.4525
7      1         AF22   56.0519  101.1322   78.1319  112.1722
8      1          UFA   83.6519  101.1322  100.2119  112.1722
9      1          A79  122.3193  101.1322  138.8793  112.1722
10     1        Tesla  149.9193  101.1322  177.5193  112.1722
11     1        Model  214.6203  101.1322  242.2203  112.1722
12     1            3  247.7403  101.1322  253.2603  112.1722
13     1     Standard  258.7803  101.1322  302.9403  112.1722
14     1        Range  308.4603  101.1322  336.0603  112.1722
15     1            +  341.5803  101.1322  347.1003  112.1722
16     1         BF66   56.0519  114.8519   78.1319  125.8919
17     1          AVR   83.6519  114.8519  100.2119  125.8919
18     1          A52  122.3193  114.8519  138.8793  125.8919
19     1        Skoda  149.9193  114.8519  177.5193  125.8919
20     1      Octavia  214.6203  114.8519  253.2603  125.8919
21     1         BG22   56.0519  128.5716   78.1319  139.6116
22     1          OBU   83.6519  128.5716  100.2119  139.6116
23     1          A12  122.3193  128.5716  138.8793  139.6116
24     1        Dacia  149.9193  128.5716  177.5193  139.6116
25     1       Jogger  214.6203  128.5716  247.7403  139.6116
26     1         BK20   56.0519  142.2913   78.1319  153.3313
27     1          FKO   83.6519  142.2913  100.2119  153.3313
28     1          A52  122.3193  142.2913  138.8793  153.3313
29     1        Skoda  149.9193  142.2913  177.5193  153.3313
30     1      Octavia  214.6203  142.2913  253.2603  153.3313
31     1         BN16   56.0519  156.0111   78.1319  167.0511
32     1          HXJ   83.6519  156.0111  100.2119  167.0511
33     1          A10  122.3193  156.0111  138.8793  167.0511
34     1      Citroen  149.9193  156.0111  188.5593  167.0511
35     1     Dispatch  214.6203  156.0111  258.7803  167.0511
36     1        Combi  264.3003  156.0111  291.9003  167.0511
37     1         BN73   56.0519  169.7308   78.1319  180.7708
38     1          ZDH   83.6519  169.7308  100.2119  180.7708
39     1          A38  122.3193  169.7308  138.8793  180.7708
40     1           MG  149.9193  169.7308  160.9593  180.7708
41     1            5  349.4168  169.7308  354.9368  180.7708
42     1         BV16   56.0519  183.4505   78.1319  194.4905
43     1          UGD   83.6519  183.4505  100.2119  194.4905
44     1          A10  122.3193  183.4505  138.8793  194.4905
45     1      Citroen  149.9193  183.4505  188.5593  194.4905
46     1     Dispatch  214.6203  183.4505  258.7803  194.4905
47     1        Combi  264.3003  183.4505  291.9003  194.4905
48     1         BV16   56.0519  197.1702   78.1319  208.2102
49     1          UGE   83.6519  197.1702  100.2119  208.2102

In [133]:
df = assign_intervals_and_values(df, gridlines)
df = process_consecutive_values(df, target_value=unique_identifier)
df_identifier = update_identifier_ranges(df, unique_identifier)
df_reduced = df[["text", "value"]].reset_index(drop=True)
new_df = concatenate_values(df_reduced)
new_df = transform_df(new_df, unique_identifier)

In [134]:
new_df

value       make                     model      vrm
vrm
AF22UFA    Tesla  Model 3 Standard Range +  AF22UFA
BF66AVR    Skoda                   Octavia  BF66AVR
BG22OBU    Dacia                    Jogger  BG22OBU
BK20FKO    Skoda                   Octavia  BK20FKO
BN16HXJ  Citroen            Dispatch Combi  BN16HXJ
...          ...                       ...      ...
YP66ZTY     Ford            Tourneo Custom  YP66ZTY
YR23NNJ   Toyota            Corolla Hybrid  YR23NNJ
YS66VKT     Ford            Tourneo Custom  YS66VKT
YS68ABX    Skoda                   Octavia  YS68ABX
YX21MGO     Fiat                    Ducato  YX21MGO

[62 rows x 3 columns]

In [135]:
new_df.to_csv('inspection.csv')