In [364]:
import pdfplumber
import pandas as pd


def extract_pdf_text(pdf_path):
    # Open the PDF file
    with pdfplumber.open(pdf_path) as pdf:
        # Initialize an empty list to store the extracted data
        data = []
        # Iterate through each page
        for page_num, page in enumerate(pdf.pages):
            # Extract the text with bounding boxes
            for element in page.extract_words():
                text = element['text']
                x0, y0, x1, y1 = element['x0'], element['top'], element['x1'], element['bottom']
                data.append([page_num + 1, text, x0, y0, x1, y1])

        # Convert the list to a DataFrame
        df = pd.DataFrame(data, columns=['page', 'text', 'x0', 'y0', 'x1', 'y1'])
        return df


def find_interval(number, intervals):
    intervals = sorted(intervals)
    for interval in intervals:
        if number >= interval[0] and number < interval[1]:
            return interval
    return None


def assign_intervals_and_values(df, gridlines):
    df["interval"] = df['x0'].apply(lambda x: find_interval(x, list(gridlines.keys())))
    df["value"] = df["interval"].apply(lambda x: gridlines.get(x, None) if x else None)
    return df


def process_consecutive_values(df, target_value):
    processed_rows = []
    current_row = None

    for _, row in df.iterrows():
        if row['value'] == target_value:
            if current_row is None:
                current_row = row.copy()
            else:
                # Concatenate the text field
                current_row['text'] += row['text']
                # Update the bounding box
                current_row['x1'] = max(current_row['x1'], row['x1'])
                current_row['y1'] = max(current_row['y1'], row['y1'])
        else:
            if current_row is not None:
                processed_rows.append(current_row)
                current_row = None
            processed_rows.append(row)

    if current_row is not None:
        processed_rows.append(current_row)

    return pd.DataFrame(processed_rows)

In [365]:
def update_identifier_ranges(df, unique_identifier):
    df_identifier = df[df["value"] == unique_identifier].sort_values(by=["page","y1"]).reset_index(drop=True)
    for index in df_identifier.index:
        if index == 0:
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index, 'y0'] 
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
        elif index == df_identifier.index.max():
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1'] 
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']
        else:
            df_identifier.loc[index, "identifier_range_y0"] = df_identifier.loc[index-1, 'y1']
            df_identifier.loc[index, "identifier_range_y1"] = df_identifier.loc[index, 'y1']

    df_identifier = df_identifier[["page", "text", "identifier_range_y0", "identifier_range_y1"]]
    return df_identifier

In [366]:
def concatenate_values(df):
    new_value_column = []
    new_text_column = []

    # Iterate over the dataframe to concatenate values
    current_value = None
    current_text = ""

    for value, text in zip(df['value'], df['text']):
        if value == current_value:
            current_text += text + " "
        else:
            if current_value is not None:
                new_value_column.append(current_value)
                new_text_column.append(current_text.strip())
            current_value = value
            current_text = text + " "  # Added space at the end of each text

    # Append the last accumulated values
    if current_value is not None:
        new_value_column.append(current_value)
        new_text_column.append(current_text.strip())

    # Create a new DataFrame with the concatenated values
    new_df = pd.DataFrame({
        'value': new_value_column,
        'text': new_text_column
    })
    return new_df

def transform_df(new_df, unique_identifier):
    new_df[unique_identifier] = new_df.apply(lambda x: x.text if x.value == unique_identifier else None, axis=1).ffill()
    new_df = new_df.pivot_table(index=unique_identifier, columns='value', values='text', aggfunc='first')
    return new_df

In [367]:
council = "Stroud"
config = {
    "Bedford": {
        "gridlines": {
            (52, 121): "plate",
            (121, 220): "vrm",
            (220, 312): "make",
            (312, 418): "model",
            (418, 482): "licence_start",
            (482, 538): "licence_end"
        },
        "unique_identifier": "plate"
    },
    "BCP": {
        "gridlines": {
            (42, 76): "reference_number",
            (76, 212): "name",
            (212, 268): "vrm",
            (268, 311): "licence_number",
            (311, 364): "licence_start",
            (364, 412): "licence_end",
            (412, 528): "make",
            (528, 590): "licence_type",
        },
        "unique_identifier": "reference_number"
    },
    "Cheshire West": {
        "gridlines": {
            (52, 160): "make",
            (160, 478): "model",
            (478, 540): "vrm"
        },
        "unique_identifier": "vrm"
    },
    "East Northamptonshire": {
        "gridlines": {
            (55, 130): "vrm",
            (160, 240): "make",
            (240, 540): "model"
        },
        "unique_identifier": "vrm"
    },
    "Fylde": {
        "gridlines": {
            (18, 87): "vrm",
            (87, 216): "make",
            (216, 340): "model",
            (340, 460): "licence_start",
            (460, 540): "licence_end"
        },
        "unique_identifier": "vrm"
    },
    "Great Yarmouth": {
        "gridlines": {
            (52, 160): "vrm",
            (160, 238): "make",
            (238, 540): "model",
        },
        "unique_identifier": "vrm"
    },
    "Horsham": {
        "gridlines": {
            (52, 103): "reference_number",
            (103, 152): "licence_type",
            (152, 218): "name",
            (218, 266): "vrm",
            (266, 320): "make",
            (320, 386): "model",
            (386, 446): "licence_start",
            (446, 484): "licence_end",
            (484, 540): "plate",
        },
        "unique_identifier": "vrm"
    },
    "Kettering": {
        "gridlines": {
            (55, 102): "vrm",
            (148, 214): "make",
            (214, 540): "model"
        },
        "unique_identifier": "vrm"
    },
    "Maldon": {
        "gridlines": {
            (35, 142): "plate",
            (142, 258): "vrm",
            (258, 312): "make",
            (312, 445): "model",
            (445, 576): "colour",
            (576, 648): "seats",
            (648, 736): "licence_start",
            (736, 800): "licence_end",
        },
        "unique_identifier": "vrm"
    },
    "Milton Keynes": {
        "gridlines": {
            (256, 288): "plate",
            (288, 336): "vrm",
            (336, 406): "make",
            (406, 488): "model",
            (488, 742): "name",
            (742, 800): "licence_end"
        },
        "unique_identifier": "plate"
    },
    "North Lanarkshire": {
        "gridlines": {
            (52, 140): "vrm",
            (140, 210): "make",
            (210, 360): "model",
        },
        "unique_identifier": "vrm"
    },
    "Powys": {
        "gridlines": {
            (3, 38): "plate",
            (98, 222): "vrm",
            (222, 312): "make",
            (312, 404): "model",
            (404, 482): "licence_start",
        },
        "unique_identifier": "plate"
    },
    "Swansea": {
        "gridlines": {
            (52, 130): "vrm",
            (130, 240): "make"
        },
        "unique_identifier": "vrm"
    },
    "Wealden": {
        "gridlines": {
            (56, 98): "plate",
            (98, 136): "vrm",
            (136, 206): "make",
            (206, 272): "model",
            (272, 315): "colour",
            (315, 404): "name",
            (450, 488): "licence_start",
            (496, 540): "licence_end",
        },
        "unique_identifier": "vrm"
    },
    "West Lothian": {
        "gridlines": {
            (52, 184): "licence_type",
            (184, 295): "vrm",
            (295, 372): "make",
            (372, 440): "model",
        },
        "unique_identifier": "vrm"
    },
    "West Morland Barrow": {
        "gridlines": {
            (55, 118): "vrm",
            (118, 200): "make",
            (200, 300): "model",
        },
        "unique_identifier": "vrm"
    },
    "Argyll and Bute": {
        "gridlines": {
            (52, 158): "vrm",
            (158, 245): "make",
            (245, 400): "model",
        },
        "unique_identifier": "vrm"
    },
    "East Lothian": {
        "gridlines": {
            (77, 170): "vrm",
            (220, 312): "make",
            (312, 418): "model",
        },
        "unique_identifier": "vrm"
    },
    "Renfrewshire": {
        "gridlines": {
            (52, 138): "reference_number",
            (138, 248): "vrm",
            (248, 440): "make",
        },
        "unique_identifier": "vrm"
    },
    "Salford": {
        "gridlines": {
            (28, 78): "reference_number",
            (78, 136): "licence_type",
            (136, 198): "licence_start",
            (198, 250): "licence_end",
            (286, 392): "make",
            (392, 450): "vrm",
        },
        "unique_identifier": "reference_number"
    },
    "Corby": {
        "gridlines": {
            (248, 312): "plate",
            (312, 390): "licence_start",
            (390, 460): "vrm",
            (460, 538): "make",
            (538, 600): "model",
        },
        "unique_identifier": "plate"
    },
    "Cornwall": {
        "gridlines": {
            (28, 121): "reference_number",
            (208, 318): "vrm",
            (318, 416): "make",
            (416, 570): "model",
            (618, 700): "licence_end",
        },
        "unique_identifier": "reference_number"
    },
    "Derby": {
        "gridlines": {
            (32, 88): "plate",
            (88, 320): "name",
            (320, 416): "vrm",
            (416, 540): "make",
        },
        "unique_identifier": "plate"
    },
    "East Dunbarton": {
        "gridlines": {
            (76, 150): "vrm",
            (150, 240): "make",
            (240, 400): "model",
        },
        "unique_identifier": "vrm"
    },
    "Eastleigh": {
        "gridlines": {
            (56, 196): "vrm",
            (196, 276): "make",
            (276, 400): "model",
        },
        "unique_identifier": "vrm"
    },
    "Anglesey": {
        "gridlines": {
            (52, 121): "licence_type",
            (121, 220): "vrm",
            (220, 312): "make",
            (312, 418): "model",
        },
        "unique_identifier": "vrm"
    },
    "Perth Kinross": {
        "gridlines": {
            (76, 196): "vrm",
            (196, 286): "make",
            (286, 400): "model",
        },
        "unique_identifier": "vrm"
    },
    "Rother": {
        "gridlines": {
            (50, 96): "plate",
            (96, 148): "vrm",
            (148, 212): "make",
            (212, 268): "model",
            (456, 499): "licence_start",
            (499, 560): "licence_end",
        },
        "unique_identifier": "plate"
    },
    "Stockton": {
        "gridlines": {
            (40, 230): "licence_type",
            (276, 386): "vrm",
            (386, 510): "make",
            (510, 578): "licence_start",
            (578, 644): "licence_end",
        },
        "unique_identifier": "vrm"
    },
    "Stroud": {
        "gridlines": {
            (52, 121): "vrm",
            (121, 220): "make",
            (220, 312): "model",
            (312, 418): "licence_start",
            (312, 418): "licence_end",
        },
        "unique_identifier": "plate"
    }
}

gridlines = config[council]["gridlines"]
unique_identifier = config[council]["unique_identifier"]

pdf_path = f'pdfs/tabular/{council}.pdf'
df = extract_pdf_text(pdf_path)

In [368]:
df.head(50)

    page          text         x0      y0         x1      y1
0      1          This   23.04000   18.93   39.29472   28.89
1      1      document   41.59548   18.93   83.07888   28.89
2      1           was   85.36968   18.93  101.11644   28.89
3      1    classified  103.45704   18.93  140.36880   28.89
4      1           as:  142.65960   18.93  154.10364   28.89
5      1      OFFICIAL  156.35460   18.93  192.33012   28.89
6      1      Register   36.00000   45.03   88.97124   60.99
7      1            of   92.49840   45.03  105.77712   60.99
8      1      licensed  109.38408   45.03  162.61068   60.99
9      1       hackney  166.21764   45.03  219.89112   60.99
10     1      carriage  223.43424   45.03  275.84688   60.99
11     1           and  279.53364   45.03  303.96840   60.99
12     1       private  307.57536   45.03  353.41248   60.99
13     1          hire  357.01944   45.03  382.58736   60.99
14     1      vehicles  386.24220   45.03  438.20796   60.99
15     1      Updated:   36.00000   75.50   77.83872   86.54
16     1             6   80.30400   75.50   85.90128   86.54
17     1      February   88.42944   75.50  128.37216   86.54
18     1          2024  130.90032   75.50  153.19008   86.54
19     1          Type   41.40000  102.14   63.62352  113.18
20     1            of   66.08544  102.14   75.48048  113.18
21     1       licence   77.90400  102.14  109.59984  113.18
22     1       Licence  235.34000  102.14  268.97480  113.18
23     1  Registration  292.85000  102.14  348.41672  113.18
24     1          mark  350.86760  102.14  374.52632  113.18
25     1          Make  388.73000  102.14  414.58088  113.18
26     1           and  417.02072  102.14  434.25416  113.18
27     1         model  436.70504  102.14  465.71816  113.18
28     1         Start  515.11000  102.14  537.41368  113.18
29     1          date  539.79832  102.14  560.48728  113.18
30     1        Expiry  580.18000  102.14  608.43280  113.18
31     1          date  610.85056  102.14  631.53952  113.18
32     1       Licence  645.34000  102.14  678.94480  113.18
33     1        holder  681.40672  102.14  711.25888  113.18
34     1        number  234.02000  115.58  270.10976  126.62
35     1       Hackney   41.40000  131.42   79.52112  142.46
36     1      Carriage   81.93888  131.42  119.25408  142.46
37     1       Vehicle  121.78224  131.42  154.40544  142.46
38     1  (Wheelchair)  156.82320  131.42  214.65072  142.46
39     1           HCV  233.06000  131.42  252.04880  142.46
40     1           628  254.54384  131.42  271.29152  142.46
41     1          SD08  311.93000  131.42  334.92632  142.46
42     1           KVB  337.45448  131.42  355.49384  142.46
43     1       Peugeot  388.73000  131.42  425.89064  142.46
44     1        Expert  428.30840  131.42  457.32152  142.46
45     1    21/05/2023  511.27000  131.42  564.44968  142.46
46     1    31/05/2024  579.34000  131.42  632.51968  142.46
47     1            Mr  645.34000  131.42  658.66528  142.46
48     1        Rehmat  661.16032  131.42  696.05776  142.46
49     1         Ullah  698.58592  131.42  721.79200  142.46

In [369]:
df[100:150]

     page        text         x0      y0         x1      y1
100     1     Vehicle  121.78224  191.09  154.40544  202.13
101     1    (Saloon)  156.82320  191.09  193.75200  202.13
102     1         HCV  230.18000  191.09  249.16880  202.13
103     1        1190  251.66384  191.09  274.04192  202.13
104     1        LD62  311.69000  191.09  334.31096  202.13
105     1         UVP  336.73976  191.09  355.79480  202.13
106     1  Volkswagen  388.73000  191.09  442.27400  202.13
107     1      Passat  444.63656  191.09  473.29640  202.13
108     1  01/03/2024  511.27000  191.09  564.44968  202.13
109     1  28/09/2024  579.34000  191.09  632.51968  202.13
110     1          Mr  645.34000  191.09  658.66528  202.13
111     1    Muhammad  661.04992  191.09  716.04016  202.13
112     1      Arshad  718.49104  191.09  749.87776  202.13
113     1     Hackney   41.40000  205.97   79.52112  217.01
114     1    Carriage   81.93888  205.97  119.25408  217.01
115     1     Vehicle  121.78224  205.97  154.40544  217.01
116     1    (Saloon)  156.82320  205.97  193.75200  217.01
117     1         HCV  230.18000  205.97  249.16880  217.01
118     1        1191  251.66384  205.97  274.04192  217.01
119     1        SE12  312.05000  205.97  333.69944  217.01
120     1         DTN  336.15032  205.97  355.49240  217.01
121     1       Skoda  388.73000  205.97  415.73384  217.01
122     1     Octavia  418.22888  205.97  451.86776  217.01
123     1  26/03/2023  511.27000  205.97  564.44968  217.01
124     1  29/02/2024  579.34000  205.97  632.51968  217.01
125     1          Mr  645.34000  205.97  658.66528  217.01
126     1      Farooq  661.16032  205.97  692.75680  217.01
127     1      Khaliq  695.11936  205.97  722.77456  217.01
128     1     Shahzad  725.21440  205.97  762.48544  217.01
129     1     Hackney   41.40000  220.85   79.52112  231.89
130     1    Carriage   81.93888  220.85  119.25408  231.89
131     1     Vehicle  121.78224  220.85  154.40544  231.89
132     1    (Saloon)  156.82320  220.85  193.75200  231.89
133     1         HCV  230.18000  220.85  249.16880  231.89
134     1        1193  251.66384  220.85  274.04192  231.89
135     1        VN63  310.37000  220.85  334.92296  231.89
136     1         VUV  337.45112  220.85  357.05816  231.89
137     1  Volkswagen  388.73000  220.85  442.27400  231.89
138     1      Passat  444.63656  220.85  473.29640  231.89
139     1  01/03/2023  511.27000  220.85  564.44968  231.89
140     1  29/02/2024  579.34000  220.85  632.51968  231.89
141     1          Mr  645.34000  220.85  658.66528  231.89
142     1    Mohammad  661.04992  220.85  716.01808  231.89
143     1      Tufail  718.46896  220.85  743.34208  231.89
144     1     Hackney   41.40000  235.73   79.52112  246.77
145     1    Carriage   81.93888  235.73  119.25408  246.77
146     1     Vehicle  121.78224  235.73  154.40544  246.77
147     1    (Saloon)  156.82320  235.73  193.75200  246.77
148     1         HCV  230.18000  235.73  249.16880  246.77
149     1        1202  251.66384  235.73  274.04192  246.77

In [370]:
df = assign_intervals_and_values(df, gridlines)
df = process_consecutive_values(df, target_value=unique_identifier)
df_identifier = update_identifier_ranges(df, unique_identifier)
df_reduced = df[["text", "value"]].reset_index(drop=True)
new_df = concatenate_values(df_reduced)
new_df = transform_df(new_df, unique_identifier)

In [371]:
new_df

value,licence_end,licence_start,licence_type,make,vrm
vrm,,,,,
A19TKR,30/04/2024,17/04/2023,Hackney Carriage Vehicle (Saloon),Suzuki Swace,A19TKR
AD12GYW,18/05/2024,01/12/2023,Hackney Carriage Vehicle (Saloon),Skoda Octavia,AD12GYW
AD19DTX,31/01/2025,02/02/2024,Private Hire Vehicle (Saloon),Toyota Corolla,AD19DTX
AE63NLZ,31/10/2024,01/11/2023,Hackney Carriage Vehicle (Saloon),Volkswagen Passat,AE63NLZ
AE63ONG,30/11/2024,01/12/2023,Private Hire Vehicle (Saloon),Skoda Octavia,AE63ONG
...,...,...,...,...,...
YS73HTP,30/11/2024,12/12/2023,Hackney Carriage Vehicle (Saloon),Toyota Corolla,YS73HTP
YT19NBD,31/12/2024,01/01/2024,Private Hire Vehicle (Saloon),Skoda Octavia,YT19NBD
YT19NBE,31/03/2024,15/03/2023,Private Hire Vehicle (Saloon),Skoda Octavia,YT19NBE
YY63DDU,31/01/2025,01/02/2024,Hackney Carriage Vehicle (Saloon),Skoda Octavia,YY63DDU
andprivatehire,NaN,NaN,6 February 2024 Type of licence,vehicles,andprivatehire

In [372]:
new_df.to_csv('inspection.csv')